{% load static %}
<script type='text/javascript' src='{% static 'js/jquery/jquery.js' %}'></script>
<script type='text/javascript' src='{% static 'js/jquery/jquery-migrate.min.js' %}'></script>
<script type='text/javascript' src='{% static 'plugins/goodlayers-core/plugins/combine/script.js' %}'></script>
<script type='text/javascript'>
    var gdlr_core_pbf = {
        "admin": "",
        "video": {
            "width": "640",
            "height": "360"
        },
        "ajax_url": "#"
    };
</script>
<script type='text/javascript' src='{% static 'plugins/goodlayers-core/include/js/page-builder.js' %}'></script>
<script type='text/javascript' src='{% static 'js/jquery/ui/effect.min.js' %}'></script>
<script type='text/javascript'>
    var kingster_script_core = {
        "home_url": "{% url 'index' %}"
    };
</script>
<script type='text/javascript' src='{% static 'js/plugins.min.js' %}'></script>