<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% load static %}
    {% include 'student/includes/student_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'student/includes/student_header.html' %}
            <div class="gdlr-core-page-builder-body">
                    <div class="fshn-blog-title-wrap  fshn-style-small">
                        <div class="fshn-header-transparent-substitute"></div>
                        <div class="fshn-blog-title-top-overlay"></div>
                        <div class="fshn-blog-title-overlay"></div>
                        <div class="fshn-blog-title-bottom-overlay"></div>
                        <div class="fshn-blog-title-container fshn-container" style="padding-top: 50px; padding-bottom: 50px">
                            <div class="fshn-blog-title-content fshn-item-pdlr">
                                <div class="fshn-page-title-content fshn-item-pdlr">
                                    <div class="fshn-page-caption" style="color:#3db166;">Fakulteti i Shkencave të Natyrës</div>
                                    <h1 class="fshn-page-title" style="color: white">Njoftime</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                        <div class="gdlr-core-page-builder-body">
                            <div class="gdlr-core-pbf-sidebar-wrapper ">
                                <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                                    <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 60px 10px 30px 0px; min-height: 2324px;">
                                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                        <div class="gdlr-core-pbf-sidebar-content-inner">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full-with-frame" style="padding-bottom: 40px ;">
                                                    <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                        <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                                <a href="{% url 'njoftime' %}">
                                                                    <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                                </a>
                                                            </div>
                                                            <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                                <div class="gdlr-core-blog-full-head clearfix">
                                                                    <div class="gdlr-core-blog-full-head-right">
                                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                            <a href="{% url 'njoftime' %}">Njoftim per studentet Bachelor, viti i III dhe Master Profesional mbi plotësimin e detyrimeve të procesit mësimor per lëndët e semestrit të dytë</a>
                                                                        </h3>
                                                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                        <a href="{% url 'njoftime' %}">10 Qershor 2020</a>
                                                                    </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                        <span class="gdlr-core-head"></span>
                                                                        <a href="{% url 'njoftime' %}" title="Posts by John Smith" rel="author">Dekanati</a>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gdlr-core-blog-content">
                                                                    Njoftim per studentet Bachelor, viti i III dhe Master Profesional mbi plotësimin e detyrimeve të procesit mësimor per lëndët e semestrit të dytë. <br><br>Per me shume informacion klikoni <b><u>KETU</u></b>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                                <a href="{% url 'njoftime' %}">
                                                                    <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                                </a>
                                                            </div>
                                                            <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                                <div class="gdlr-core-blog-full-head clearfix">
                                                                    <div class="gdlr-core-blog-full-head-right">
                                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                            <a href="{% url 'njoftime' %}">Njoftohen te gjithe studentet e ciklit te dyte, viti i dyte, Master Shkencor</a>
                                                                        </h3>
                                                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                        <a href="{% url 'njoftime' %}">08 Qershor 2020</a>
                                                                    </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                        <span class="gdlr-core-head"></span>
                                                                        <a href="{% url 'njoftime' %}" title="Posts by John Smith" rel="author">Dekanati</a>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gdlr-core-blog-content">
                                                                    Njoftohen te gjithe studentet e ciklit te dyte, viti i dyte, Master Shkencor se: <br><br>Ka filluar procesi i regjistrimeve per sesionin e provimeve te paradiplomimit.
                                                                    Regjistrimi perfundon ne date 19 Qershor 2020.
                                                                    Ne kete sezon mund te jepen deri ne 4 lende per permiresim.

                                                                    Per cdo problem ju lutem kontaktoni me: support@fshn.edu.al<br><br>Per me shume informacion klikoni <b><u>KETU</u></b>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                                <a href="{% url 'njoftime' %}">
                                                                    <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                                </a>
                                                            </div>
                                                            <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                                <div class="gdlr-core-blog-full-head clearfix">
                                                                    <div class="gdlr-core-blog-full-head-right">
                                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                            <a href="{% url 'njoftime' %}">Vendim nr.19, dt. 29.05.2020 i Dekanatit të Fakultetit të Shkencave të Natyrës</a>
                                                                        </h3>
                                                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                        <a href="#">25 Maj 2020</a>
                                                                    </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                        <span class="gdlr-core-head"></span>
                                                                        <a href="{% url 'njoftime' %}" title="Posts by John Smith" rel="author">Dekanati</a>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gdlr-core-blog-content">
                                                                    Vendim nr.19, dt. 29.05.2020 i Dekanatit të Fakultetit të Shkencave të Natyrës: mbi planin e veprimit për zhvillimin e sesionit të verës për vitin akademik 2019-2020
                                                                    <br><br>Per me shume informacion klikoni <b><u>KETU</u></b>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                                <a href="{% url 'njoftime' %}">
                                                                    <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                                </a>
                                                            </div>
                                                            <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                                <div class="gdlr-core-blog-full-head clearfix">
                                                                    <div class="gdlr-core-blog-full-head-right">
                                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                            <a href="{% url 'njoftime' %}">Listat e studenteve per burse studimi sipas kategorive</a>
                                                                        </h3>
                                                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                        <a href="#">03 Qershor 2020</a>
                                                                    </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                        <span class="gdlr-core-head"></span>
                                                                        <a href="{% url 'njoftime' %}" title="Posts by John Smith" rel="author">Dekanati</a>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gdlr-core-blog-content">
                                                                    Njoftohen te gjithe studentet e Fakultetit te Shkencave te Natyres se jane shpallur listat e studenteve qe perfitojne burse studimi sipas kategorive. <br><br>Per me shume informacion klikoni <b><u>KETU</u></b>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                            <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                                <a href="{% url 'njoftime' %}">
                                                                    <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                                </a>
                                                            </div>
                                                            <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                                <div class="gdlr-core-blog-full-head clearfix">
                                                                    <div class="gdlr-core-blog-full-head-right">
                                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 28px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                            <a href="{% url 'njoftime' %}">Njoftim mbi tarifat e studimit</a>
                                                                        </h3>
                                                                        <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                    <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                        <a href="#">02 Qershor 2020</a>
                                                                    </span>
                                                                            <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-author">
                                                                        <span class="gdlr-core-head"></span>
                                                                        <a href="{% url 'njoftime' %}" title="Posts by John Smith" rel="author">Dekanati</a>
                                                                    </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="gdlr-core-blog-content">
                                                                    Njoftim mbi tarifat e studimit per vitin akademik 2019-2020 dhe kategorite qe perfitojne perjashtim apo reduktim nga keto tarifa.<br><br>Per me shume informacion klikoni <b><u>KETU</u></b><br><br>Per te shkarkuar faturat sipas ciklit te studimit kliko: <b><u>KETU</u></b><br><br>Per tu njohur me listat e studenteve perfitues nga tarifa kliko <b><u>KETU</u></b>
                                                                    <div class="clear"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-pagination  gdlr-core-style-round gdlr-core-left-align gdlr-core-item-pdlr">
                                                        <span aria-current="page" class="page-numbers current">1</span>
                                                        <a class="page-numbers" href="#">2</a>
                                                        <a class="page-numbers" href="#">3</a>
                                                        <a class="next page-numbers" href="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="min-height: 1477px;">
                                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                        <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                            {% include 'includes/quick_links.html' %}
                                            {% include 'includes/departments.html' %}
                                            {% include 'includes/events.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {% include 'includes/footer.html' %}
        </div>
    </div>
    {% load static %}
    {% include 'student/includes/student_scripts.html' %}
</body>
</html>