<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% load static %}
    {% include 'student/includes/student_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'student/includes/student_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
            <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: 0px 20px 0px 0px; padding: 85px 0px 35px; height: 959px;" data-sync-height="height-1">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Studenti</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 19px ;text-transform: none ;color: #3db166 ; font-weight: bold">
                                                <p>Statusi i studentit</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                                <p>Një person fiton statusin e studentit me regjistrimin e tij në një institucion të arsimit të lartë dhe e humbet këtë status me marrjen e diplomës ose çertifikatës përkatëse, si dhe në raste të ndryshme të çregjistrimit të tij. Të drejtat dhe detyrimet e studentëve përcaktohen në bazë të këtijligji, si dhe në statutet e institucioneve të arsimit të lartë. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 55px ;">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-flipbox-item gdlr-core-item-pdlr gdlr-core-item-pdb ">
                                            <div class="gdlr-core-flipbox gdlr-core-js gdlr-core-after-init" style="transform: perspective(1200px); position: relative; transform-style: preserve-3d; height: 341px;">
                                                <div class="gdlr-core-flipbox-front gdlr-core-js  gdlr-core-left-align gdlr-core-icon-top gdlr-core-flipbox-type-outer" style="padding: 50px 40px 30px 50px; border-width: 0px; border-radius: 3px; backface-visibility: hidden; transform-style: preserve-3d; position: absolute; z-index: 1; height: 341px; transition: all 0.5s ease-out 0s;" data-sync-height="gdlr-core-flipbox-id-4161">
                                                    <div class="gdlr-core-flipbox-content gdlr-core-sync-height-content" style="backface-visibility: hidden;">
                                                        <div class="gdlr-core-flipbox-item-image gdlr-core-media-image" style="backface-visibility: hidden;"></div>
                                                        <div class="gdlr-core-flipbox-content-wrap" style="backface-visibility: hidden;">
                                                            <h3 class="gdlr-core-flipbox-item-title" style="backface-visibility: hidden;">Statuti i këshillit studentor</h3>
                                                            <div class="gdlr-core-flipbox-item-content" style="font-size: 16px; backface-visibility: hidden;">
                                                                <p style="backface-visibility: hidden;">1. Këshilli Studentor i Universitetit të Tiranës (shkurt KSUT) është një organizim i pavarur i studentëve i cili nuk zhvillon veprimtari politike dhe ekonomike. Ky këshill promovon pjesëmarrjen e studentëve dhe koordinon përfaqësimin e tyre në organet drejtuese të institucioneve të arsimit të lartë, në strukturat mësimore-kërkimore dhe të shërbimeve.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-flipbox-back gdlr-core-js  gdlr-core-left-align gdlr-core-icon-top gdlr-core-flipbox-type-outer" style="padding: 50px 40px 30px 50px; border-width: 0px; backface-visibility: hidden; transform-style: preserve-3d; position: relative; z-index: 0; transform: rotateY(-180deg); height: 341px; transition: all 0.5s ease-out 0s;" data-sync-height="gdlr-core-flipbox-id-4161">
                                                    <div class="gdlr-core-flipbox-content gdlr-core-sync-height-content" style="backface-visibility: hidden;">
                                                        <div class="gdlr-core-flipbox-item-image gdlr-core-media-image" style="backface-visibility: hidden;">
                                                        </div>
                                                        <div class="gdlr-core-flipbox-content-wrap " style="backface-visibility: hidden;">
                                                            <h3 class="gdlr-core-flipbox-item-title" style="backface-visibility: hidden;">Statuti i këshillit studentor</h3>
                                                            <div class="gdlr-core-flipbox-item-content" style="font-size: 16px; backface-visibility: hidden;">
                                                                <p style="backface-visibility: hidden;">2. Këshilli Studentor i Universitetit të Tiranës nuk mund të organizohet me struktura të tjera politike e jopolitike, jashtë institucioneve përkatëse të arsimit të lartë.</p>
                                                            </div>
                                                            <a class="gdlr-core-flipbox-link" href="#" target="_self" style="backface-visibility: hidden;"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-30">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" style="margin: 0px 0px 0px 20px; padding: 20px 0px 25px 50px; height: 959px;" data-sync-height="height-1">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 60px ;">
                                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-left-image gdlr-core-media-image" style="margin: -6px 20px 0px 0px;"></div>
                                            <div class="gdlr-core-title-item-left-image-wrap">
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Të drejtat dhe detyrat e studentëve</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element"><div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 28px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ; color: #192f59;">1. Studentët kanë të drejtë:</h3>
                                                <p>a) Të ndjekin leksione, seminare dhe të gjitha veprimtaritë e tjera mësimore, të organizuara në përputhje me statusin e tyre;</p><p>
                                                </p><p>b) Të përdorin mjediset, bibliotekë, salla kompjuterash dhe shërbime të tjera që ofrohen për studentët nga institucioni;</p>
                                                <p>c) Të zgjedhin dhe të zgjidhen në organet e institucionit parashikuar për studentë, në përputhje me këtë ligj dhe statutin e institucionit;</p>
                                                <p>ç) Të shprehin opinionin e tyre për cilësinë e mësimdhënies dhe punën e personelit akademik të institucionit.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 26px ;">
                                            <div class="gdlr-core-title-item-left-image gdlr-core-media-image" style="margin: -9px 20px 0px 0px;"></div>
                                            <div class="gdlr-core-title-item-left-image-wrap">
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ; color: #192f59;">2. Studentët kanë detyrë:</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 35px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                                <p>a) Të zbatojnë rregullat e hartuara nga institucioni;</p>
                                                <p>b) T'u kushtojnë vëmendjen e duhur studimeve dhe të marrin pjesë në veprimtaritë akademike;</p>
                                                <p>c) Të paguajnë tarifat e shkollimeve dhe të shërbimeve që u ofrojnë institucionet;</p>
                                                <p>ç) Të respektojnë kodin e etikës, të përcaktuar në statutet ose rregulloret e institucioneve respektive të arsimit të lartë;</p>
                                                <p>d) Të tregojnë vëmendjen e duhur ndaj të drejtave të personelit dhe të studentëve të tjerë etj.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 175px 0px 100px 0px;">
                <div class="gdlr-core-pbf-background-wrap">
                    <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({% static 'images/fshn_home_logo.jpg' %}); background-size: cover; background-position: center center; height: 460.4px; transform: translate(0px, -180.64px);" data-parallax-speed="0.8"></div>
                </div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js "><div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 29px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">Bursa për studentë</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gdlr-core-pbf-column gdlr-core-column-40">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;font-weight: 500 ;text-transform: none ;color: #ffffff ;">
                                                <p>1. Studentët e institucioneve publike të arsimit të lartë përfitojnë bursa si mbështetje ekonomike për studimet e tyre, si dhe stimuj materialë për rezultate të shkëlqyera.</p>
                                                <p>2. Bursat, sipas pikës 1 të këtij neni, përballohen nga Buxheti i Shtetit dhe donacione të ligjshme. Këshilli i Ministrave përcakton kriteret shtetërore dhe procedurat për përfitimin e bursave.</p>
                                                <p>3. Institucionet e arsimit të lartë përcaktojnë në statutet e tyre kritere dhe procedura për shpërblime të studentëve, që përballohen nga vetë institucionet.</p>
                                                <p>4. Me propozimin e Ministrisë së Arsimit dhe Shkencës, Këshilli i Ministrave konsideron dhe raste të tjera për dhënie bursash, si dhe bursa për studentë të shkëlqyer dhe shkencëtarë.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'includes/footer.html' %}
        </div>
    </div>
    {% load static %}
    {% include 'student/includes/student_scripts.html' %}
</body>
</html>