<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
            <div class="gdlr-core-page-builder-body">
                <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                    <div class="gdlr-core-page-builder-body">
                        <div class="gdlr-core-pbf-wrapper " style="padding: 70px 0px 40px 0px;">
                            <div class="gdlr-core-pbf-background-wrap"></div>
                            <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                                <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                    <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                            <div class="gdlr-core-pbf-background-wrap"></div>
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;">
                                                            <a class="gdlr-core-lightgallery gdlr-core-js " href="#">
                                                                <img src="https://d33wubrfki0l68.cloudfront.net/4640a3af46f363355f48f388190412c6d8ebc961/913b4/images/denis_saatciu.jpg" width="700" height="450" srcset="https://d33wubrfki0l68.cloudfront.net/4640a3af46f363355f48f388190412c6d8ebc961/913b4/images/denis_saatciu.jpg 400w, https://d33wubrfki0l68.cloudfront.net/4640a3af46f363355f48f388190412c6d8ebc961/913b4/images/denis_saatciu.jpg 700w" sizes="(max-width: 767px) 100vw, (max-width: 1150px) 33vw, 383px" alt="">
                                                                <span class="gdlr-core-image-overlay "><i class="gdlr-core-image-overlay-icon  gdlr-core-size-22 fa fa-search"></i></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element" style="text-align: center">
                                                    <div class="gdlr-core-personnel-info-item gdlr-core-item-pdb gdlr-core-item-pdlr clearfix" style="padding-bottom: 17px ;">
                                                        <div class="gdlr-core-personnel-info-item-list-wrap">
                                                            <div class="fshn-personnel-info-list fshn-type-social-shortcode">
                                                                <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-center-align" style="padding-bottom: 0px ;">
                                                                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook" style="font-size: 18px ;color: #50bd77 ;"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin" style="font-size: 18px ;color: #50bd77 ;margin-left: 14px ;"><i class="fa fa-linkedin"></i></a>
                                                                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype" style="font-size: 18px ;color: #50bd77 ;margin-left: 14px ;"><i class="fa fa-skype"></i></a>
                                                                    <a href="#url" target="_blank" class="gdlr-core-social-network-icon" title="twitter" style="font-size: 18px ;color: #50bd77 ;margin-left: 14px ;"><i class="fa fa-twitter"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="fshn-personnel-info-list fshn-type-email">
                                                                <i class="fshn-personnel-info-list-icon fa fa-envelope-open"></i>denis.saatciu@fshn.edu.al
                                                            </div>
                                                            <div class="fshn-personnel-info-list fshn-type-phone">
                                                                <i class="fshn-personnel-info-list-icon fa fa-phone"></i>+355 69 21 97 834
                                                            </div>
                                                            <div class="fshn-personnel-info-list fshn-type-location">
                                                                <i class="fshn-personnel-info-list-icon fa fa-location-arrow"></i>FSHN Godina B, Salla 202
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-button-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-center-align">
                                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 13px ;padding: 11px 24px 15px 27px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;">
                                                            <span class="gdlr-core-content">Faqja Personale</span><i class="gdlr-core-pos-right fa fa-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-column gdlr-core-column-40">
                                        <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: 0px 0px 20px 0px;padding: 0px 0px 0px 0px;">
                                            <div class="gdlr-core-pbf-background-wrap"></div>
                                            <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 34px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #161616 ;">Dr. Denis Saatçiu</h3>
                                                        </div>
                                                        <a style="cursor: pointer" href="https://sites.google.com/a/fshn.edu.al/denisi/home"><span class="gdlr-core-title-item-caption gdlr-core-info-font gdlr-core-skin-caption" style="font-size: 20px ;font-style: normal ;color: #6c6c6c ;">Faqja Personale</span></a>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Biografia</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px ;">
                                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;letter-spacing: 0px ;text-transform: none ;">
                                                            <p>Ka qenë pjesë e grupeve të ndryshme në implementimin e programeve të ICT për biznese e institucione qeveritare lokale e kombëtare dhe është i specializuar në kryerjen e shërbimeve profesionale IT në projekte, zhvillim software dhe në aplikime të palëve të treta.</p>
                                                            <p>Anëtar i grupit mësimor – shkencor “Analizë të dhënash”.</p>
                                                            <p>Është angazhuar në zhvillimin e linjave të biznesit në analizë, prezantim, etj. Kryesisht projektet që ka marrë pjesë janë në:</p>
                                                            <p>1. Analizë dhe ndërtim i sistemit Datawarehouse.</p>
                                                            <p>2. Analizë dhe ndërtim i bazës së të dhënave.</p>
                                                            <p>3. Analizë dhe ndërtim i aplikacionit.</p>
                                                            <p>4. Analizë dhe ndërtim i sistemit raportues</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 45px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Gradat dhe titujt akademike</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1">
                                                        <ul>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Diplomë e Integruar në Informatikë, Fakulteti i Shkencave të Natyrës, Universiteti i Tiranës (2008)</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Master i Nivelit të Dytë në Sisteme Informatike të Integruara, Fakulteti i Shkencave të Natyrës, Universiteti i Tiranës (2012)</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Doktor i Shkencave në Informatikë, Fakulteti i Shkencave të Natyrës, Universiteti i Tiranës (2011)</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 55px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Aktiviteti Mesimor</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1">
                                                        <ul>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Strukturë të dhënash nën C,Bachelor Informatikë</span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Algoritmikë nën C++, Bachelor Informatikë</span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Teori Gjuhësh, Bachelor Informatikë </span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Inteligjencë Biznesi, Master Shkencor Teknologji Informacioni </span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Sisteme Përpunimi Informacioni, Master Shkencor Informatikë </span></div></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 55px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Artikuj shkencore &amp; konference</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1">
                                                        <ul>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">SAATCIU, D. &amp; DIBRA D. 2014. Ndërtimi i grafikëve 3-dimensionalë në Matlab për shpërndarjen e densiteteve probabilitarë. Buletini i Shkencave Natyrore Nr. 17 FSHN, UT</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">SAATCIU, D. &amp; BIMBARI B. 2014. Modelimi i testimeve logjike e probabilitare për të dhënat e vazhdueshme. Buletini i Shkencave Natyrore Nr. 17 2011 FSHN, UT</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">BIMBARI B. 2014 &amp; SAATCIU, D. KRAHASIMI I METODAVE TË MODELIMIT TË SISTEMEVE BIOLOGJIKE Buletini i Shkencave Natyrore Nr. 17 2011 FSHN, UT</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">SAATCIU, D. 2014. Algorithms for scalene economic variables aproximation. Mean and dispersion. International Journal Sciences, Innovation and new Technology</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">TAFAJ I. &amp; KAPSHTICA K. &amp; SAATCIU, D. &amp; FEJZAJ J. &amp; XHINA E. File Systems performance on Solid State Drive. International Journal of Computer Science &amp; Management Studies. 2014, India</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Karcanaj H., Banushi M, Tafa I, Fejzaj J., Saatciu D. Virtual Memory behavior around physical and virtual system limits ACCT 2015 – India</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Prifti V, Bala R, Tafa I, Saatciu D, Fejzaj J. The time profit obtained by parallelization of Quicksort algorithm used for numerical sorting. SAI 2015 – London</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 55px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Kerkimi Shkencor</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1">
                                                        <ul>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: ‘I-learn Une mesoj. Reference number IADSA/2014/08’ Emri i subjektit kontraktues/ klienti: Ministria për inovacionin dhe administratën publike Vendi: Shqipëri Pozicioni: Lider Grupi / Ekspert Programimi Kohëzgjatja: Prill 2015 – Tetor 2015 Aktivitetet e kryera: • Zhvillim i portalit për hedhjen e të dhënave. • Zhvillimi I modulit web. • Zhvillim I modulit të përkthimit.</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit:‘UNDP Albania Pogradec Tourism Innovation Project’ Emri i subjektit kontraktues/ klienti: UNDP Vendi: Shqipëri Pozicioni: Ekspert Lokal Programimi Kohëzgjatja: Shtator 2014 – Dhjetor 2014 Aktivitetet e kryera: • Ekspert lokal programimi për dizenjimin dhe implementimin e nje portali web inovativ për turizmin bashkiak ne Bashkinë e Pogradecit. • Analizë dhe ndërtim i bazës së të dhënave (MySQL). • Analizë dhe ndërtim i aplikacionit (PHP). • www.go2pogradec.al</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: Emri i subjektit kontraktues/ klienti: Drejtoria e Përgjithshme e Emergjencave Civile. Ministria e Brendshme Vendi: Shqipëri Pozicioni: Specialist IT në përforcimin e shërbimeve Hidro-meteorologjike Kohëzgjatja: Maj 2013 – Qershor 2013 Aktivitetet e kryera: • Një portal vizualizimi dhe katalogimi të informacionit, me ndërfaqja mbi dy bazat e të dhënave ekzistuese • Pamje reale dhe historike e të dhënave përmes portalit • Një bulletin në web për analizat hidrometeorologjike dhe lajmerimet, me nivele të ndryshëm aksesi. • Trajnim i stafit IGEWE • Përgatitja dhe dorëzimi I një plani për përmirësimin dhe mirëmbajtjen e shërbimeve të internetit</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: Emri i subjektit kontraktues/ klienti: IGJEUM Vendi: Shqipëri Pozicioni: Zhvillues PHP, Arkitekt sistemi, Analist për korrektësinë e të dhënave Kohëzgjatja: Gusht 2012 – Prill 2013 Aktivitetet e kryera: • Analizim dhe ndërtim i bazes se te dhenave (Microsoft SQL Server 2008). • Analizim dhe zhvillim I aplikimit web (PHP). • Analizë dhe ndërtim i sistemit raportues</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: Influenca e ndryshimit klimaterik ne biodiversitetet, te mirat e sherbimet ne lagunat e Mesdheut Emri i subjektit kontraktues/ klienti: University of Salento, Lecce, Italy Vendi: Itali Pozicioni: Zhvillues Web Kohëzgjatja: Tetor 2009 – Janar 2011 Aktivitetet e kryera: • Analizim i bazes se te dhenave (Microsoft SQL Server 2005). • Analizim dhe zhvillim I aplikimit web (DotNetNuke).</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: Zhvillim I kërkesave funksionale për MIS të personave me aftësi të kufizuar. Ref. No. SAMP/CS/CQ/01-2014 Emri i subjektit kontraktues/ klienti: Ministria e Çështjeve Sociale dhe Rinisë Vendi: Shqipëri Pozicioni: Konsulent Kohëzgjatja: Gusht 2014 – Qershor 2015 Aktivitetet e kryera: • Zhvillimii specifikimeve teknike për MIS të personave me aftësi të kufizuar. • Analizim dhe përcaktim i proceseve të biznesit, përcaktimin e aktorëve dhe kërkesat e përdoruesve, përgatitja e analizës së të dhënave dhe modelimi, përcaktimi I rrjedhave të punës, përgatitja e rasteve të punës, përcaktimi I kërkesave për softare dhe hardware, përcaktimi I ndërfaqeve teknike si dhe hyrjet, daljet dhe kontrollet e nevojshme në sistem, integrim me sistemet e jashtme dhe të brendshme, standarte për testet e pranimit</span>
                                                                </div>
                                                            </li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;">
                                                                <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 4px ;"><i class="gdlr-core-icon-list-icon fa fa-dot-circle-o" style="color: #6b6b6b ;font-size: 16px ;width: 16px ;"></i></span>
                                                                <div class="gdlr-core-icon-list-content-wrap">
                                                                    <span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Emri i projektit: Pipeline Contracts Generator Emri i subjektit kontraktues/ klienti: ABKons Vendi: Shqipëri Pozicioni: Konsulent Kohëzgjatja: Tetor 2015 – Dhjetor 2015 Aktivitetet e kryera: • Analist të dhënash • Analizim i bazes se te dhenave (Microsoft SQL Server). • Analizim dhe zhvillim I aplikimit (PHP) I dizenjuar për gjenerimin e kontratave të projektit TAP (Project Pipeline Contracts).</span>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" style="margin-bottom: 55px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                        <div class="gdlr-core-title-item-title-wrap clearfix">
                                                            <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #464646 ;">Aktivitete te Tjera</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="gdlr-core-pbf-element">
                                                    <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1">
                                                        <ul>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Anëtar bordi i Tirana Institute of Economic Research (Shqipëri)</span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Zv. President i Federatës Shqiptare të Sportit Universitar</span></div></li>
                                                            <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 13px ;"><span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 1px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #6b6b6b ;font-size: 22px ;width: 22px ;"></i></span><div class="gdlr-core-icon-list-content-wrap"><span class="gdlr-core-icon-list-content" style="font-size: 17px ;text-transform: none ;">Anëtar i programm Comittee i RTA CSIT 1&amp;2 </span></div></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>