<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/Applied-Mathematics_0.jpg' %}) ;">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-page-title-overlay"></div>
                <div class="fshn-page-title-bottom-gradient"></div>
                <div class="fshn-page-title-container fshn-container">
                    <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                        <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Matematikës së Aplikuar</h1>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Përgjegjësi i departamentit</h3>
                                                <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                <p>Prof. Asoc. Dr. Eglantina Kalluçi</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Deri në fund të vitit 2013, historiku I Departamentit tonë përputhet me atë të Departamentit të Matematikës, Fakulteti I Shkencave të Natyrës, prej të cilit doli pjesa kryesore e Departamentit të Matematikës së Aplikuar, si dhe me atë të Departamentit aktual “Statistikëdhe Informatikë e Zbatuar”, FE, UT.</p>
                                                <p>Departamenti I Matematikës së Aplikuar u krijua, në Fakultetin e Shkencave të Natyrës, në Janar 2014. Fillimisht ai kishte në përbërjen e tij dy grupe mësimore-shkencore të shkëputura nga Departamenti i Matematikës, Fakulteti i Shkencave të Natyrës (Grupi Probabilitet e Statistikë dhe grupi Analizë Numerike dhe Optimizim) me 9 pedagogë si dhegrupi mësimor-kërkimor i Matematikës, prej 7 pedagogësh i shkëputur nga Departamenti i Matematikës, Statistikës dhe Informatikës së Aplikuar, pranë Fakultetit të Ekonomisë, Universiteti i Tiranës. Stafi i këtij Departamenti duhej të mbulonte lëndët matematike në dy Fakultete, atë të Shkencave të Natyrës dhe në Fakultetin e ekonomisë.</p>
                                                <p>Në prill të vitit 2018, pedagogët e Departamentit tonë që ishin angazhuar në Fakultetin e Ekonomisë u kthyen në Departamentin e Statistikës dhe Informatikës së Aplikuar, në Fakultetin e Ekonomisë.</p>
                                                <p>Aktualisht, Departamenti ynë ka 13 punonjës efektivë, 12 staf akademik (1 Profesor, 1 Prof.Asoc. 5 Doktorë Shkencash dhe 5 Asistentë Lektorë) dhe 1 staf ndihmës akademik dhe mbulon lëndët e drejtimeve të Matematikës së Aplikuar në Programet e IMI-t dhe në programet e tjera të Fakultetit të Shkencave të natyrës.</p>
                                                <p><strong>Departamenti I Matematikës së Aplikuar përbëhet nga dy grupe mësimore-shkencore:</strong></p>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Grupi i Analizës Numerike dhe Optimizimit.</p>
                                                    <p>2. Grupi i Probabilitetit dhe Statistikës.</p>
                                                </div><br>
                                                <p><strong>Diplomat:</strong></p>
                                                <p>1. Bachelor në Inxhinieri Matematike dhe Informatike (IMI) (180 kredite)</p>
                                                <p>2. Master i Shkencave në Inxhinieri Matematike dhe Informatike(IMI) (120 kredite)</p>
                                                <p>3. Master Profesional (60 kredite) në Inxhinierisë Matematike dhe Informatike (IMI),</p>
                                                <br>
                                                <p><strong>Departamenti I Matematikës së Aplikuar mbulon Programet e Ciklit të tretë (Doktoratura) në dy shkolla Doktoratash:</strong></p>
                                                <p>1. Metodat probabilitare, statistike dhe Metodat e analizës numerike.</p>
                                                <p>2. Kërkime Operacionale</p>
                                                <br>
                                                <p>Gjatë këtyre tre viteve të ekzistencës së tij, Departamenti I Matematikës së Aplikuar ka organizuar 3 Konferenca, 2 ndërkombëtare (SPNA2014 dhe SPNA2015) dhe një Kombëtare (AKMA2016) të mbështetura nga Projekte të Kërkimit Shkencor të financuara nga Fakulteti I Shkencave të Natyrës, Universiteti I Tiranës.</p>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Inxhinieri Matematike dhe Informatike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Inxhinieri Matematike dhe Informatike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Profesional Inxhinieri Matematike dhe Informatike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te trete: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Kerkime Operacionale</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Metodat probabilitare, Statistikë dhe metodat e analizës numerike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Eglantina Kalluçi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Fatmir Hoxha</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Aurora Ferrja</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Arbër Qoshja</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Eralda Gjika</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Eva Noka</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Frederik Dara</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Markela Muça</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Klodiana Bani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Lule Basha</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Xhilda Merkaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Ndihmës (Kërkimor-Shkencor)</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Emanuela Vukaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezim per shkrimin e tezes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>