<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/chemistry1.jpg' %}) ;">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-page-title-overlay"></div>
                <div class="fshn-page-title-bottom-gradient"></div>
                <div class="fshn-page-title-container fshn-container">
                    <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                        <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Kimisë</h1>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Pergjegjesi i departamentit</h3>
                                                <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                <p>Prof. Dr. Elda Marku</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Në kuadrin e krijimit të Universitetit Shtetëror të Tiranës më 1957 (tani Universiteti i Tiranës), një nga Fakultetet më të rëndësishme ishte Fakulteti i Shkencave të Natyrës, ku përkrah degëve Matematikë – Fizikë e Biokimi, u krijua dhe dega e Kimisë Industriale, e cila kishte në varësi të saj dhe Laboratorin e Kërkimeve Kimike, i krijuar që në vitin 1953 si institucioni i parë dhe mjaft i rëndësishëm kërkimor – shkencor.</p>
                                                <p>Me zhvillimin e vazhdueshëm të gjithë sektorëve të Universitetit të Tiranës, edhe dega e Kimisë Industriale ka pësuar evolucionin e saj në drejtimin didaktik, shkencor, organizativ etj. U rrit shumë numri i studentëve, pësoi një hop kërkimi shkencor, lidhja me ekonominë e institucionet e vendit e të huaja. Kjo kërkoi riorganizim të Katedrave të cilat u shtuan në pesë sipas gruplëndëve si: Katedra e Kimisë së përgjithshme e Inorganike ku kanë drejtuar Prof. M. Karajani, Prof. V.Kola, Prof. K.Spahiu. Prof. M. Prifti; Katedra e Kimisë Organike ku kanë drejtuar Prof. K. Popa, Doc.M. Haxhimusaj, Prof. K. Koci, Prof. P. Troja, Prof. G. Damani; Katedra e Kimisë Analitike ku kanë drejtuar Doc. F. Sazani; Prof. A. Çullaj, Prof. B. Baraj, Prof. Ass. O. Glozheni, Prof. P. Lazo, Katedra e Kimisë Fizike ku kanë drejtuar Prof. Viron Kola, Prof. S. Alia, Prof. I. Mele.</p>
                                                <p>Fillimisht dega e Kimisë Industriale ishte 4 vjeçare me një numër të kufizuar studentësh dhe me staf akademik që kishte mbaruar studimet jashtë vendit, në Perëndim dhe në Lindje. Në fillimet e degës kishte tri Katedra: Katedra e Kimisë së Përgjithshme dhe Inorganike me Përgjegjës Prof. Menella Karajani, Katedra e Kimisë Organike me Përgjegjës Prof. Kolë Popa, Katedra e Kimisë Analitike dhe Teknologjisë me Përgjegjës Prof. Muharrem Frashëri.</p>
                                                <p>Pas viteve 90 dega e Kimisë u nda në dy Departamente ku u përgatitën kuadro në tri profile të veçanta: Departamenti i Kimisë përgatiti Kimist të përgjithshëm (tani Kimist) dhe Departamenti i Kimisë Industriale me dy profile.
                                                    Fillimisht funksionin e Përgjegjësit të Departamentit të Kimisë e ka kryer Prof. Alqi Çullaj, pastaj nga viti 1994 – 2000 Prof. Kosta Koci, nga viti 2000 – Janar 2008 Prof. Pandeli Troja dhe aktualisht që nga Janari 2008 Prof. Eduard Andoni.</p>
                                                <p>Departamenti i Kimisë ka një staf pedagogësh dhe punonjësish prej 46 anëtarësh, nga këta: 11 janë Profesorë, 5 Prof. ass, 14 Doktorë, 2 Asistentë dhe 14 Laborantë, nga të cilët 13 janë me arsim të lartë. </p>
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Misioni mësimdhënës dhe shkencor i Departamentit të Kimisë, përmblidhet në këto drejtime kryesore:</h3>
                                                </div>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Përgatitja e kimistëve të aftë për drejtimin e proceseve kimikë në industrinë kimike, si edhe për laboratoret e industrisë kimike, laboratorët mjeksorë, laboratoret e kimisë së mjedisit, etj.</p>
                                                    <p>2. Përgatitja e specialistëve të shkencës së kimisë që mund të punojnë si pedagogë dhe si kërkues në shkollat e larta si edhe ne institucionet e ndryshme kërkimore-shkencore.</p>
                                                    <p>3. Përgatitja e mësuesve të kimisë për shkollat e mesme.</p>
                                                    <p>4. Përgatitja dhe kualifikimi pasuniversitar në nivel master dhe doktorate, i të diplomuarve në degën e kimisë.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Objektivat kryesore të Departamentit të Kimisë janë:</h3>
                                            </div>
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Përgatitja e specialistëve kimistë të aftë profesionalisht që t’i përgjigjen nivelit bashkëkohor të zhvillimit.</p>
                                                    <p>2. Përgatitja e mësuesve të kimisë për shkollat e mesme të aftë profesionalisht dhe me një figure të lartë morale.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Kimi</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Kimi</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Kimi AML</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te trete: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Elektrokimi e zbatuar dhe dukurite siperfaqesore</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Analiza kimike e lendes dhe mjedisit</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Diploma</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Deri në vitin 2005, Departamenti realizonte aktivitetin e tij akademik në tri profile të Degës së Kimisë: Kimi e Përgjithshme, Kimi industriale dhe Kimi Ushqimore dhe ishte përgjegjës për diplomën e Kimistit.
                                                    Pas vitit 2005, në kuadrin e organizimit të studimeve sipas sistemit të Bolonjës, Departamenti i Kimisë për ciklin e parë të Studimeve jep një Diplomë të Nivelit të Parë në Kimi (sistemi 3-vjeçar).
                                                    Në vitin 2008, me vendim të Këshillit të Ministrave, Departamentit të Kimisë i aprovohet hapja e Ciklit të Dytë të Studimeve: Diplomë e Nivelit të Dytë në Kimi, drejtimi “Analiza kimike dhe vetitë e lëndës” (sistem 2-vjeçar) dhe Master i Nivelit të Parë, Mësues Kimie (sistem 1 vjeçar).</p>
                                                <p>Departamenti i Kimisë drejton dhe përgjigjet për zhvillimin e disiplinave bazë, formuese kimike jo vetëm me studentët e viteve I, II, III të profileve kimike të FSHN, por mbulon edhe mësimdhënien e lëndëve kimike në degët e Biologjisë, Fizikës, Farmacisë, Stomatologjisë, Mjekësisë së Përgjithshme etj.</p>
                                                <p>Krahas mësimdhënies, Departamenti i Kimisë, realizon aktivitetin kërkimor-shkencor me drejtime të tilla si: analiza kimike dhe identifikimi i strukturës me metoda instrumentale, studimi i korrozionit dhe i mbrojtjes nga ai, studimi i adsorbimit dhe i dukurive sipërfaqësore, etj.
                                                </p>
                                                <p>Pas vitit 2000, në Departamentin e Kimisë kanë funksionuar edhe dy shkolla pasuniversitare që kanë dhënë diploma të studimeve pasuniversitare, “Master”, në dy drejtime:
                                                    Analiza kimike dhe identifikimi i strukturës me metoda instrumentale
                                                    Elektrokimia e proceseve të korrozionit dhe dukuritë sipërfaqësore.
                                                    Në vitin 2008 këto dy shkolla janë përshtatur në përputhje me ligjet në fuqi për të ofruar diploma “Master i Nivelit të Dytë” në drejtimet e mësipërme.</p><br><br>
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Struktura Administrative e Departamentit:</h3>
                                                </div>
                                                <p>Departamenti i Kimisë përbëhet nga katër grupe mësimore-shkencore:</p>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Kimia e Përgjithshme dhe Inorganike.</p>
                                                    <p>2. Kimia Analitike.</p>
                                                    <p>3. Kimia Organike.</p>
                                                    <p>4. Kimia Fizike e Koloidale.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Elda Marku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Adelaida Andoni</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Alketa Lame</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Dritan Topi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Efrosini Kokalari</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Kledi Xhaxhiu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Kozeta Vaso</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Majlinda Vasjari</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Pranvera Lazo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Arjan Korpa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Aurel Nuro</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Alma Shehu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Bujar Seiti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Sonila Duka</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Xhujeta Hamiti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Alberta Llabani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Arben Memo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Altin Mele</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Bujar Myrtaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Ermira Bregu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Klodian Xhanari</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Jonida Tahiraj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Morsina Çipa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Nevila Broli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Loreta Vallja</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Shaniko Allajbeu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Muhamed Farruku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Sadik Cenolli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Selflando Shehaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Ndihmës (Kërkimor-Shkencor)</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Adriana Dule</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Arber Mihali</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Asela Hasa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Enkeleda Skenduli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Enkelejda Mersini</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Erjona Alla</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Ervina Minga</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Gjergji Papa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Ledi Merja</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Mirela Gorenca</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Piro Gjika</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Shkendije Sala</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Sidorela Pejtamalli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Laboratori Virtual</h3>
                                            <span class="clear"></span>
                                            <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://drive.google.com/drive/folders/3KniJQ6YQyNAp3UW6ggYsoCtWjk9FyjUUC-F3z" style="text-align: center; font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                        <span class="gdlr-core-content">Kimi e Pergjithshme</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://drive.google.com/drive/folders/1hg-EXPxaRL4CrWY4tIfR23HWV9E5Jah2" style="text-align: center; font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%;">
                                                        <span class="gdlr-core-content">Kimi Analitike</span>
                                                    </a>
                                                </div>
                                            </div>
                                            <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://drive.google.com/drive/folders/1jmKLQ2u77f8Vyn2sdvmmIyaVqVB1A68u" style="text-align: center; font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                        <span class="gdlr-core-content">Kimi Koloidale</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                        <h3 class="fshn-widget-title">Te Tjera</h3>
                                        <span class="clear"></span>
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="text-align: center; font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezim per shkrimin e mikrotezes</span>
                                            </a>
                                        </div>
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="text-align: center; font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezime per punimin e diplomes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>