<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/mag_chimica_industriale.jpg' %}) ;">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-page-title-overlay"></div>
                <div class="fshn-page-title-bottom-gradient"></div>
                <div class="fshn-page-title-container fshn-container">
                    <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                        <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Kimisë Industriale</h1>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Pergjegjesi i departamentit</h3>
                                                <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                <p>Prof. Dr. Rozana Troja</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>
                                                    Departamenti i Kimisë Industriale, në Fakultetin e Shkencave të Natyrës, Universiteti i Tiranës, është Departamenti i vetëm ndër të gjitha departamentet e tjera të universiteteve publike dhe private që është i specializuar në mësimdhënien dhe kërkimin shkencor në fushën e teknologjisë kimike organike, inorganike, inxhinierisë kimike, teknologjisë ushqimore e mikrobiologjisë. Misioni i tij mësimdhënës e shkencor fokusohet në këto drejtime kryesore:</p>
                                                <div class="gdlr-core-title-item-title-wrap clearfix">
                                                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Misioni mësimdhënës dhe shkencor i Departamentit të Kimisë, përmblidhet në këto drejtime kryesore:</h3>
                                                </div>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Përgatitja e specialistëve për degë të ndryshme të industrisë kimike.</p>
                                                    <p>2. Rritja e nivelit të cilësisë së mësimdhënies.</p>
                                                    <p>3. Konsolidimin e mjaft arritjeve të punës shkencore në fushat e studimit të Departamentit, si dhe zgjerimi i tyre, sidomos në fushën mjedisore.</p>
                                                    <p>4. Kualifikimi i punonjësve mësimor dhe stafit ndihmës pedagogjik, si dhe përmirësimi i teknikave të mësimdhënies me anë të përdorimit të pajisjeve dhe teknikave audiovizive bashkëkohore.</p>
                                                    <p>5. Publikimin e punimeve shkencore që kryhen në Departament ose në bashkëpunim në revista të njohura të vendit ose në buletine periodike të huaja.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Për të arritur këto objektiva në tërësi e të tjera specifike sipas seksioneve të Departamentit të Kimisë Industriale, janë vënë detyra dhe objektiva afatshkurta e afatgjata, ku ndër më kryesoret renditen:</h3>
                                            </div>
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Rritja e shkallës së përvetësimit të dijeve nga ana e studentëve me anë të përmirësimit të teknikave dhe metodikës së mësimdhënies.</p>
                                                    <p>2. Nxitja e të mësuar aktiv dhe në mënyrë të pavarur, duke i dhënë përparësi realizimit të punëve laboratorike, projekteve e detyrave të kursit dhe sidomos punimeve të diplomave.</p>
                                                    <p>3. Mbajtja dhe forcimi i lidhjeve të krijuara midis Departamentit të kimisë Industriale me departamente të tjera, brenda dhe jashtë vendit, me qëllim të shkëmbimit të përvojës në fushën e mësimdhënies dhe kërkimit shkencor.</p>
                                                    <p>4. Rritja e numrit të kandidaturave për Doktoraturë në fushat e studimit që mbulon Departamenti dhe të afërta me to.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Kimi Industriale e Mjedisore</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Kimi dhe Teknologji Ushqimore</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master i Shkencave Inxhinieria e Proceseve Kimike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master i Shkencave Kimi Industriale e Mjedisore</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master i Shkencave Shkencat dhe Teknologjitë Ushqimore</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te trete: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Proceset e trajtimit kimik të lëndëve të para natyrore dhe të mbeturinave industriale e urbane</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Teknologjia dhe mikrobiologjia e ushqimeve dhe vlerësimi i sigurisë dhe cilësisë</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Spiro Drushku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Rozana Troja</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Dhurata Premtri</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Ilirjana Boci</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Laura Shabani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Luljeta Pinguli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Ismet Beqiraj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Aferdita Dinaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Amilda Ballata</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Anisa Dhroso</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Aleksandër Petre</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Hasime Manaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Jonida Canaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Sonila Vito</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Terkida Vaso</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Xhakina Cani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Aldi Kuqo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Sidorela Vishkulli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Xhino Hyseni</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Ndihmes (Kerkimor-Shkencor)</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Arjan Prifti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Edmond Rrumbullaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Elena Muça</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Eltion Dhamo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Eralda Hoxhaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Shpëtim Çuka</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-center-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezim per shkrimin e mikrotezes</span>
                                            </a>
                                        </div>
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-center-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezime per punimin e diplomes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>