<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/cs.jpeg' %}) ;">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-page-title-overlay"></div>
                <div class="fshn-page-title-bottom-gradient"></div>
                <div class="fshn-page-title-container fshn-container">
                    <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                        <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Informatikës</h1>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Përgjegjësi i departamentit</h3>
                                                <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                <p>Prof. Asoc. Dr. Endri Xhina</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Misioni  i Departamentit të Informatikës është të zgjerojë dhe të diversifikojëprofesionistë të specializuar në informatikë dhe teknologji informacioni dhe tëçojë përpara njohuritë në sisteme dhe shkencat kompjuterike duke siguruar mësimdhënie me cilësi të lartë si dhe të drejtojë kërkime shkencore që adresojnë sfida në  fusha aktuale informatike dhe probleme sociale.</p>
                                                <p><strong>Objektivat e Departamentit të Informatikës</strong></p>
                                                <p>Në bazë të objektivave të përgjithshme të Fakultetit të Shkencave të Natyrës, të cilat janë mbështetur në politikat e ndjekura gjatë zhvillimit të arsimit në vendin tonë, Departameti i Informatikës ka përcaktuar si objektiva edukimi dhe kërkimi:</p>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Promovimin e   kërkimit dhe studimeve të avancuara në fusha të ndryshme teorike dhe aplikative në informatikë si dhe fushave multidisiplinare të lidhura me të.</p>
                                                    <p>2. Promovimin e filozofisë të të mësuarit të studentëve që  përgatiten për profesione specifike në informatikë.</p>
                                                    <p>3. Të sigurojë një ambient kërkimi stimulus për individët të cilët të jenë drejtues  në industri dhe akademi në aplikime të informatikës dhe zhvillimin e teknologjive të reja për të mirën e shoqërisë.</p>
                                                    <p>4. Përmirësim i vazhdueshëm të strukturës së shkollës pasuniversitare ku të mundësohet studimi i thelluar në fusha me interes praktik e teorik. </p>
                                                    <p>5. Organizimi i stafit akademik në  grupe  studimi dhe  kërkimi shkencor në fusha të përafërta duke  rritur mundësinë e kualifikimit të specializuar të stafit si dhe bashkëpunimit  mes tyre për të realizuar projekte kërkimore kombëtare dhe ndërkombëtare.</p>6. Krijimi i lidhjeve të qëndrueshme me departamente të ngjashme të shteteve të tjera me qëllim nxitjen e bashkëpunimit në drejtim mësimor e kërkimor.<p></p>
                                                    <p>7. Studentët  e diplomuar në programet e studimit të departamentit të informatikës të jenë të aftë të demostrojnë kopetenca teknike në shkencat kompjuterike në dizenjimin dhe analizimin e situatave reale.</p>
                                                    <p>8. Të sigurojë në shumicën e lëndëve projekti grupi  dhe projekte individuale që simulojnë situata që do të hasin studentët në ambientet e punës në të ardhmen.</p>
                                                    <p>9. Të zhvillojë shtyllat e sjelljes profesionale duke përfshirë njohuri mbi çështjet e etikës, aftësi të mira komunikimi si dhe ndjekjen  dhe trasmetimin e ideve në mënyrë efektive.</p>
                                                    <p>10. Përditësimi i programeve mësimore dhe fushave të kërkimit duke i vendosur në të njëjtën linjë me  sfidat e përcaktuara nga Bashkimi Europian në lidhje me shoqërinë e informacionit.</p>
                                                    <p>11. Përgatitja e trainimi i  mësuesave të informatikës në arsimin parauniversitar dhe  aftësimi i tyre për t'ju përgjigjur sfidave të zhvillimit të teknologjisë së informacionit.</p>
                                                    <p>12. Të nxisë të mësuarit gjatë gjithë jetës duke inkurajuar punën individuale përtej njohurive që zhvillohen në auditoret e shkollës.</p>
                                                    <p>13. Përsosja e pandërprerë e programeve mësimore për integrimin e vazhdueshëm të njohurive bashkëkohore të Informatikës.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Informatike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor TIK</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Informatike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor TIK</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Informatike AML</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Profesional Informatike Biznesi</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Profesional TIK</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Historiku</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Departamenti i informatikës u krijua nga njerëz që kishin një vizion: ‘Si do të përshtatet Informatika në frymën unike të Fakultetit të Shkencave të Natyrës, një institucion i orientuar rreth edukimit universitar dhe bashkëpunimit të ngushtë ndërinstiucional’. Katedra e Informatikës u krijua në vitin 1984 pranë Fakultetit të Shkencave të Natyrës. Krijimi i saj shënoi kurorëzimin e përpjekjeve disavjeçare për të pëgatitur kuadro të mirëfillta informatike në vend. Plani mësimor i hartuar si dhe programi ishin të përafërt me planet dhe programet mësimore të disa universiteteve perëndimore. Fillimisht dega u hap me 15 studentë të cilët pothuajse të gjithë ishin nga më të mirët e vendit. Pas 33 vitesh, numri i studentëve të pranuar në vitin e parë ka arritur në kuotën e 300 studentëve.</p>
                                                <p>Departamenti i Informatikës ka patur kontributin e disa profesorëve të nderuar të cilët kanë ndihmuar në hedhjen e themeleve të degës së Informatikës si dhe kërkimit shkencor në këtë fushë, duke qënë promotor të zhvillimit të Informatikës në të gjithë vendin . Ndër të cilët do të përmendim profesorët që kanë drejtuar për disa vite katedrën/departamentin e Informatikës që nga themelimi i saj, si Prof. Dr. Kristjan Bukuroshi, Prof. Dr. Maks Raço, Prof. Dr. Eqerem Arkaxhiu dhe Prof. Dr. Ilia Ninka. Një numër i konsiderueshëm anëtarësh të departamentit kanë dhënë kontributin e tyre për aplikimin e Informatikës në vitet e para të përhapjes së saj në Shqipëri, duke rezultuar një pjesë prej tyre në themelimin e kompanive të para Informatike në vend, të cilat janë sot ndër bizneset më të sukseshme në këtë fushë.</p>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>Një pjesë e të diplomuarve në degën e Informatikës që në fillimet e saj, kanë vijuar të kontribuojnë në fushën e Informatikës si në kërkimin shkencor duke u bërë pjesë e katedrave/departamentëve dhe grupeve kërkimore në Universitete me emër edhe jashtë vendit tonë, si për shembull në Gjermani, Amerikë, etj.</p>
                                                    <p>Në kushtet e një zhvillimi të vrullshëm, sidomos gjatë dy dekadave të fundit të Informatikës dhe të natyrës aplikative të saj, anëtarët e departamentit kanë kontribuar në kuadër të aplikimit të interesave të tyre shkencore në një sërë projektesh aplikative në sektorë të ndryshëm në vendin tonë. Anëtarët e deparamentit kanë marrë pjese duke ofruar ekspertizën e tyre në institucionet qeveritare.</p>
                                                    <p>Që në fillimet e saj katedra e Informatikës ka patur kontakt dhe shkëmbime me institucione dhe koleg nga vende të tjera, duke rritur kështu dora-dorës infranstrukturën informatike me paisje dhe laborator të avancuar për kohën. Gjatë periudhës së tranzicionit, pas viteve 90 kur ndodhi emigracioni masiv në vendin tonë, kjo ndikoi dhe në departamentin e Informatikës, ku shumë anëtar të departamentit u larguan në vende të tjera më të zhvilluara. Në vitin 2001 departamenti i Informatikës kishte gjithësej 7 anëtarë, ku vetëm dy prej tyre ishin me titullin Profesor. Në vazhdimësi, departamenti është rritur në mënyrë graduale, ku aktualisht Departamenti i Informatikës përbëhet nga 27 punonjës të brendshëm, prej të cilëve 3 me titullin Profesor i Asociuar, 8 me gradën Doktor dhe 16 me gradën Master i Shkencave (të gjithë në proces të përfundimit të studimeve në ciklin e trete, doktoraturë). Punonjësit e jashtëm janë të shumtë.</p>
                                                    <p>Departamenti i Informatikës beson fuqimisht në dialogun midis studenteve, pedagogëve, stafit kërkimor, vizitorëve dhe kolegëve në departamente të tjera brenda fakultetit dhe jashtë tij. Departamenti beson se ky dialog duhet të fillojë më herët, që kur një student fillimisht hulumton dimensionet emocionuese të kësaj fushe. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Endri Xhina</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Alda Kika</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Ana Ktona</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Alba Çomo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Ardi Benusi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Bora Bimbari</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Denada Çollaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Denis Saatçiu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Julian Fejzaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Olti Qirici</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Odeta Shkreli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Silvana Greca</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Xheni Melo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Ana Dhëmbi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Anxhela Kosta</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Arbër Ceni</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Elda Xhumari</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Elson Çibaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Ernest Shahini</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Ilma Lili</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Jezuina Koroveshi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Jonida Shehu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Klesti Hoxha</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Ledia Bozo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Loreta Leka</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Mirvjen Ulqinaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Petrika Manika</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="{% url 'pedagog' %}">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Suela Maxhelaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Ndihmës (Kërkimor-Shkencor)</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Emrijan Metushi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Shpu. Dea Çonxhi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Mp. Fjorela Sheldija</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Mp. Mario Koxheri</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Suzana Hado</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="{% url 'e-learning' %}" target="_blank" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: darkred ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Sitet e lendeve</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Orari i Laboratoreve Semestri II Viti Akademik 2019-2020</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Diplomat Master i Shkencave 2020</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Organizimi i studenteve ne grupe mesimore laboratori Viti Akademik 2019-2020</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Organizimi i studenteve Cikli II Master ne grupe mesimore Viti Akademik 2019-2020</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Provimi i Diplomes Korrik 2020</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Provimi i Diplomes Tetor 2019</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Provimi i Diplomes Master Profesional</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Tekste te botuara</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Young Programmers Space</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #192f59 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Mobilitet &amp; Bursa</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: darkred ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Shkolla e Doktorates</span>
                                        </a>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px; margin-bottom: 20px">
                                        <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="#" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%; text-align: center;">
                                            <span class="gdlr-core-content">Tema Diplome</span>
                                        </a>
                                    </div>
                                    <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-left-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="font-size: 16px ;text-align: center; font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #f4a460 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezim per shkrimin e tezes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>