<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/math-behind-bitcoin.jpg' %}) ;">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-page-title-overlay"></div>
                <div class="fshn-page-title-bottom-gradient"></div>
                <div class="fshn-page-title-container fshn-container">
                    <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                        <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                        <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Matematikës</h1>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Përgjegjësi i departamentit</h3>
                                                <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                <p>Prof. Dr. Artur Baxhaku</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                <p>Misioni i departamentit të Matematikës është përgatitja e individëve të kualifikuar në fushën e matematikës, të matematikë-informatikës, mësimdhënies së matematikës dhe në fusha të ndryshme ku aplikohen njohuritë matematike, nëpërmjet një filozofie arsimimi që ka në thelb vlerat universale, si dhe mbështetjen shkencore-kërkimore duke ndjekur zhvillimet bashkëkohore të shkencës dhe mbarë shoqërisë.</p>
                                                <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                    <p>1. Përgatitjen e specialistëve në fushën e matematikës dhe matematikë-informatikë që të jenë të aftë për veprimtari kërkimore-shkencore dhe për aplikime të matematikës në fusha të ndryshme të ekonomisë dhe shoqërisë duke ju përgjigjur me kompetencë ndryshimeve të shpejta dhe zhvillimeve të teknologjisë.</p>
                                                    <p>2. Përgatitjen e lartë të mësuesve të matematikës për shkollat e mesme si nga ana shkencore ashtu dhe nga ana profesionale e mësimdhënies, të aftë për t'ju përgjigjur sfidave të arsimit dhe shoqërisë.</p>
                                                    <p>3. Rritjen e nivelit të cilësisë së mësimdhënies nga ana e stafit pedagogjik për të mbështetur të mësuarit aktiv dhe logjik dhe të menduarin kritik tek studentët për të rritur cilësinë dhe jetëgjatësinë e përvetësimit të njohurive.</p>
                                                    <p>4. Kualifikimin e vazhdueshëm shkencor të stafit pedagogjik dhe përmirësimin e teknikave të mësimdhënies.</p>
                                                    <p>5. Përshtatjen e vazhdueshme të programeve të studimit të ofruara me nevojat e tregut të brendshëm dhe të huaj.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div><br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Matematike</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Matematike AML</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te trete: </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Analize dhe Algjeber</h4>
                                                    <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                        <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                        <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KËTU</strong></p></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Artur Baxhaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Elida Hoxha</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Elton Pasku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Ilir Vardhami</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Kujtim Dule</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Valentina Shehu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Artur Stringa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Besiana Çobani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Elizabeta Peti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Enkeleda Zajmi (Kotonaj)</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Eriola Sila</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Florion Çela</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Ledia Subashi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Rigena Sema</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Dorisa Tabaku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="text-18" class="widget widget_text fshn-widget">
                                        <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                            <h3 class="fshn-widget-title">Personeli Ndihmës (Kërkimor-Shkencor)</h3>
                                            <span class="clear"></span>
                                            <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                <div class="gdlr-core-course-item-list">
                                                    <a class="gdlr-core-course-item-link" href="#">
                                                        <span class="gdlr-core-course-item-title gdlr-core-skin-title">Aida Kaçorri</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                        <div id="text-18" class="widget widget_text fshn-widget" style="padding-left: 20px; padding-right: 20px;">
                                            <a class="gdlr-core-button  gdlr-core-button-solid gdlr-core-center-align gdlr-core-button-no-border" href="https://docs.google.com/viewer?a=v&amp;pid=sites&amp;srcid=ZnNobi5lZHUuYWx8ZGVwYXJ0YW1lbnRpLWktYmlvdGVrbm9sb2dqaXNlZXxneDozNjRmMjMwZjU4YmU0YWQ0" style="font-size: 16px ;font-weight: 700 ;letter-spacing: 0px ;padding: 13px 26px 16px 30px;text-transform: none ;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;background: #3db166 ; width: 100%;">
                                                <span class="gdlr-core-content">Udhezim per shkrimin e tezes</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>