<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'departments/includes/departments_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'departments/includes/departments_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                    <div class="fshn-page-title-wrap  fshn-style-custom fshn-left-align" style="background-image: url({% static 'images/departments/physic.jpg' %}) ;">
                        <div class="fshn-header-transparent-substitute"></div>
                        <div class="fshn-page-title-overlay"></div>
                        <div class="fshn-page-title-bottom-gradient"></div>
                        <div class="fshn-page-title-container fshn-container">
                            <div class="fshn-page-title-content fshn-item-pdlr" style="padding-top: 400px ;padding-bottom: 60px ;">
                                <div class="fshn-page-caption" style="font-size: 20px ;font-weight: 400 ;letter-spacing: 0px ;">Fakulteti i Shkencave të Natyrës</div>
                                <h1 class="fshn-page-title" style="font-size: 30px; font-weight: 700; text-transform: none; letter-spacing: 0px; color: rgb(255, 255, 255);" data-orig-font="40px">Departamenti i Fizikës</h1>
                            </div>
                        </div>
                    </div>
                    <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                        <div class="gdlr-core-page-builder-body">
                            <div class="gdlr-core-pbf-sidebar-wrapper " style="margin: 0px 0px 30px 0px;">
                                <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                                    <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 35px 0px 20px 0px;">
                                        <div class="gdlr-core-pbf-sidebar-content-inner">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 10px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Përgjegjësi i departamentit</h3>
                                                        <div class="gdlr-core-title-item-divider gdlr-core-right gdlr-core-skin-divider" style="font-size: 22px ;border-bottom-width: 3px ;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 15px ;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 21px ;text-transform: none ;color: #3db166 ;">
                                                        <p>Prof. Asoc. Polikron Dhoqina</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 27px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Hyrje</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                        <p>Departamenti i Fizikës në Fakultetin e Shkencave të Natyrës, Universiteti i Tiranës, është departamenti më i madh i fizikës ndër të gjitha departamentet që ndodhen në universitetet e vendit. Misioni i tij mësimdhënës dhe shkencor përmblidhet në këto drejtime kryesore, që shprehin dhe qëllimet e funksionimit të tij:</p>
                                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                            <p>1. Formimi i studentëve gjatë ciklit të parë të studimeve, në mënyrë të tillë që të jenë të aftë të përfshihen në studimet Master Shkencor në Fizikë, Master Shkencor “Mësues Fizike për Arsimin e Mesëm të lartë” si dhe Mastera të programeve te tjera të studimit.</p>
                                                            <p>2. Përgatitja e mësuesve të fizikës për shkollat e mesme.</p>
                                                            <p>3. Shërbimet për të tretët, si dhe transferimin e njohurive dhe të teknologjisë, në fushat e bioteknologjisë, biologjisë molekulare dhe biodiversitetit.</p>
                                                            <p>4. Përgatitja e fizikanëve, specialistë të shkencës së fizikës që mund të punojnë si pedagogë dhe kërkues në shkollat e larta ose në institucionet e ndryshme kërkimore shkencore, industri, teknologji etj.</p>
                                                            <p>5. Zhvillimi i kërkimit shkencor në drejtime të ndryshme në shkencën e fizikës dhe në disiplina të tjera që lidhen me të.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 18px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Objektivat kryesore të Departamentit të Fizikës janë:</h3>
                                                    </div>
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;">
                                                        <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;">
                                                            <p>1. Përgatitja e mësuesve të aftë profesionalisht dhe të pajisur me veti të larta morale.</p>
                                                            <p>2. Përgatitja e fizikanëve me njohuri bashkëkohore, të aftë për të cekur të gjitha arritjet aktuale të fizikës dhe për t’iu përshtatur niveleve të çdo universiteti brenda dhe jashtë vendit.</p>
                                                            <p>3. Mbajtja e një larmie drejtimesh të kërkimit shkencor nga ana e personelit të departamentit, qoftë në fizikën eksperimentale, ashtu dhe në fizikën teorike si dhe në disiplina të tjera të lidhura me fizikën e aplikuar dhe më tej.</p>
                                                            <p>4. Arritje të vlefshme në punën shkencore, me rezultate të publikuara në revista mundësisht prestigjioze, brenda apo jashtë vendit.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te pare dhe te dyte: </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                                    <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                        <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                        <div class="gdlr-core-accordion-item-content-wrapper">
                                                            <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Bachelor Fizike</h4>
                                                            <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                                <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                                <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="gdlr-core-accordion-item-tab clearfix ">
                                                        <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                        <div class="gdlr-core-accordion-item-content-wrapper">
                                                            <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Master Shkencor Fizike</h4>
                                                            <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                                <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                                <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;color: #223d71 ;margin-right: 30px ;">Programe studimi te ciklit te trete: </h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                                    <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                        <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                        <div class="gdlr-core-accordion-item-content-wrapper">
                                                            <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Fizike</h4>
                                                            <div class="gdlr-core-accordion-item-content" style="margin-left: 20px!important; padding-top: 0!important;">
                                                                <span class="gdlr-core-space-shortcode" style="margin-left: 20px ; "></span><br>
                                                                <a style="cursor: pointer"><p>Informacione rreth programit të degës dhe krediteve përkatëse kliko <strong>KETU</strong></p></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="padding: 35px 0px 30px 0px;">
                                        <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                            <div id="text-18" class="widget widget_text fshn-widget">
                                                <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                                    <h3 class="fshn-widget-title">Personeli Akademik</h3>
                                                    <span class="clear"></span>
                                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Polikron Dhoqina</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Artan Borçi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Margarita Ifti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Dr. Mimoza Hafizi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Bardhyl Guda</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Dode Prenga</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Prof. Asoc. Dr. Odeta Çati</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Emil Zhuvani</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Erjon Spahiu</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Gerti Xhixha</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Klejda Kristo</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Klaudio Peqini</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Lindita Hamolli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Malvina Marku</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Olta Çakaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Rudina Osmanaj</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Silvana Miço</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Dr. Sonila Boçi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Alion Alizoti</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Eranda Gjeçi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Msc. Safet Sula</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="text-18" class="widget widget_text fshn-widget">
                                                <div id="gdlr-core-custom-menu-widget-6" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                                                    <h3 class="fshn-widget-title">Personeli Ndihmës (Kërkimor-Shkencor)</h3>
                                                    <span class="clear"></span>
                                                    <div class="gdlr-core-course-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-course-style-list" style="padding-bottom: 10px; /*padding-left: 0!important; padding-right: 0!important;*/">
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Aida Reçi</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Anila Zhupa</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Arlinda Minarolli</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                        <div class="gdlr-core-course-item-list">
                                                            <a class="gdlr-core-course-item-link" href="#">
                                                                <span class="gdlr-core-course-item-title gdlr-core-skin-title">Elton Nuri</span><i class="gdlr-core-course-item-icon gdlr-core-skin-icon fa fa-long-arrow-right"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'departments/includes/departments_scripts.html' %}
</body>
</html>