<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'faculty/includes/faculty_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            <div class="fshn-top-bar">
                <div class="fshn-top-bar-background"></div>
                <div class="fshn-top-bar-container fshn-container ">
                    <div class="fshn-top-bar-container-inner clearfix">
                        <div class="fshn-top-bar-left fshn-item-pdlr"><i class="fa fa-envelope-open-o" style="font-size: 15px ;color: #96a2b8 ;margin-right: 8px ;"></i> info@fshn.edu.al <i class="fa fa-phone" style="font-size: 15px ;color: #96a2b8 ;margin-left: 18px ;margin-right: 6px ;"></i> +355 4 255 6987</div>
                        <div class="fshn-top-bar-right fshn-item-pdlr">
                            <ul id="fshn-top-bar-menu" class="sf-menu fshn-top-bar-menu fshn-top-bar-right-menu">
                                <li class="menu-item fshn-normal-menu"><a href="{% url 'evente' %}">Evente</a></li>
                                <li class="menu-item fshn-normal-menu"><a href="{% url 'kritere-dhe-kuota' %}">Kritere & Kuota</a></li>
                                <li class="menu-item fshn-normal-menu"><a href="{% url 'portali' %}">Portali</a></li>
                            </ul>
                            <div class="fshn-top-bar-right-social"></div><a class="fshn-top-bar-right-button" href="{% url 'buletini-shkencor' %}" target="_blank">Buletini Shkencor</a></div>
                    </div>
                </div>
            </div>
            {% include 'faculty/includes/faculty_header.html' %}
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 300px 0px 75px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #3a3a3a ;background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-moz-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-o-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));-webkit-background: linear-gradient(rgba(58, 58, 58, 0.4), rgba(51, 51, 51, 0.3));">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url({% static 'images/fshn_home_logo.jpg' %}) ;background-size: cover ;background-position: center ;" data-parallax-speed="0"></div>
                        </div>
                        <div class="gdlr-core-page-builder-wrapper-bottom-gradient" style="height: 413px ;background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-moz-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-o-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));-webkit-background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-20 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" style="padding-bottom: 20px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 34px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #ffffff ;">Fakulteti i Shkencave të Natyrës</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-left-align">
                                                    <div class="gdlr-core-divider-container" style="max-width: 285px ;">
                                                        <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-bottom-width: 5px ;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-40">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 0px ;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 18px ;text-transform: none ;color: #ffffff ;">
                                                        <p>Misioni i FSHN është përgatitja e individëve të kualifikuar në fushat e shkencave natyrore dhe mësimdhënies së tyre duke krijuar, zhvilluar dhe transmetuar njohuritë nëpërmjet mësimdhënies dhe kërkimit shkencor, duke kultivuar lirinë dhe diversitetin e ideve, për ndërtimin dhe konsolidimin e shoqërisë demokratike.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-pbf-wrapper " style="padding: 0px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js " style="margin: 0px 20px 0px 0px;padding: 85px 0px 35px 0px;" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 22px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;">Historiku</h3></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                                        <p>Fakulteti i Shkencave të Natyrës (FSHN) është njësi kryesore e Universitetit të Tiranës që në krijimin e tij në vitin 1957. Ai u krijua mbi trashëgiminë e Institutit të Lartë Pedagogjik të Tiranës, 4 vjeçar (1951-1957), i cili ishte institucioni i parë në Shqipëri për përgatitjen e mësuesve me arsim të lartë, si edhe mbi organizimin e disa katedrave e sektorëve të Institutit të Shkencave dhe atij Politeknik.</p>
                                                        <p>FSHN që në krijimin e vet dhe deri tani është qendra kryesore në Shqipëri për përgatitjen e specialistëve të lartë në matematikë, fizikë, kimi, kimi industriale, biologji, bioteknologji e informatikë si edhe një nga institucionet më të rëndësishme të vendit për përgatitjen e mësuesve për shkollat e mesme.</p>
                                                        <p>FSHN organizohet në tetë departamente: Departamenti i Biologjisë, Departamenti i Bioteknologjisë, Departamenti i Fizikës, Departamenti i Informatikës, Departamenti i Kimisë, Departamenti i Kimisë Industriale, Departamenti i Matematikës, Departamenti i Matematikës së Aplikuar dhe Qendra Kërkimore e Florës dhe Faunës.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right" style="margin: 0px 0px 0px 20px;padding: 80px 0px 25px 50px;" data-sync-height="height-1">
                                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f5f5f5 ;"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-sync-height-content">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align" style="padding-bottom: 60px ;">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"><img src="{% static 'images/fshn_home_logo.jpg' %}" width="700" height="354" sizes="(max-width: 767px) 100vw, (max-width: 1150px) 50vw, 575px" alt="" /></div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 28px ;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 16px ;text-transform: none ;color: #8f8f8f ;">
                                                        <p>FSHN në përputhje me objektivat e Universitetit të Tiranës, synon arsimimin e lartë të studentëve vendas e më gjerë, studimet dhe specializimet e mëtejshme, kërkimet shkencore  dhe veprimtaritë mbështetëse  në fushat e shkencave tënatyrës.</p>
                                                        <p>Misioni i FSHN është përgatitja e individëve të kualifikuar në fushat e shkencave natyrore dhe mësimdhënies së tyre duke krijuar, zhvilluar dhe transmetuar njohuritë nëpërmjet mësimdhënies dhe kërkimit shkencor, duke kultivuar lirinë dhe diversitetin e ideve, për ndërtimin dhe konsolidimin e shoqërisë demokratike.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'faculty/includes/faculty_scripts.html' %}
</body>
</html>