{% load static %}
<div class="fshn-mobile-header-wrap">
    <div class="fshn-mobile-header fshn-header-background fshn-style-slide fshn-sticky-mobile-navigation " id="fshn-mobile-header">
        <div class="fshn-mobile-header-container fshn-container clearfix">
            <div class="fshn-logo  fshn-item-pdlr">
                <div class="fshn-logo-inner">
                    <a class="" href="{% url 'index' %}"><img src="{% static 'images/FSHN_Logo_Blue_And_Green.svg' %}" alt="" /></a>
                </div>
            </div>
            <div class="fshn-mobile-menu-right">
                <div class="fshn-main-menu-search" id="fshn-mobile-top-search"><i class="fa fa-search"></i></div>
                <div class="fshn-top-search-wrap">
                    <div class="fshn-top-search-close"></div>
                    <div class="fshn-top-search-row">
                        <div class="fshn-top-search-cell">
                            <form role="search" method="get" class="search-form" action="#">
                                <input type="text" class="search-field fshn-title-font" placeholder="Search..." value="" name="s">
                                <div class="fshn-top-search-submit"><i class="fa fa-search"></i></div>
                                <input type="submit" class="search-submit" value="Search">
                                <div class="fshn-top-search-close"><i class="icon_close"></i></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="fshn-mobile-menu"><a class="fshn-mm-menu-button fshn-mobile-menu-button fshn-mobile-button-hamburger" href="#fshn-mobile-menu"><span></span></a>
                    <div class="fshn-mm-menu-wrap fshn-navigation-font" id="fshn-mobile-menu" data-slide="right">
                        <ul id="menu-main-navigation" class="m-menu">
                            <li class="menu-item menu-item-home menu-item-has-children"><a href="{% url 'index' %}">Kreu</a></li>
                            <li class="menu-item menu-item-has-children"><a href="{% url 'studenti' %}">Fakulteti</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Historiku</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Struktura drejtuese</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Struktura administrative</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Misioni</a></li>
                                </ul>
                            </li>
                            <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Departamentet</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{% url 'departamenti-biologjisë' %}">Departamenti i Biologjisë</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-bioteknologjisë' %}">Departamenti i Bioteknologjisë</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-fizikës' %}">Departamenti i Fizikës</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-informatikës' %}">Departamenti i Informatikës</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-kimisë' %}">Departamenti i Kimisë</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-kimisë-industriale' %}">Departamenti i Kimisë Industriale</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-matematikës' %}">Departamenti i Matematikës</a></li>
                                    <li class="menu-item"><a href="{% url 'departamenti-matematikës-aplikuar' %}">Departamenti i Matematikës së Aplikuar</a></li>
                                    <li class="menu-item"><a href="{% url 'qendra-kërkimore-florës-dhe-faunës' %}">Qendra Kërkimore e Florës dhe Faunës</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="{% url 'doktoratura' %}">Kërkimi shkencor</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-has-children"><a>Projekte</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="{% url 'projekte' %}">NetChem</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">Dita e ADN-së</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">Young Programmers Space</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">EuroBiotech School</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">RTA-CSIT</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">Theseus</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">Molecular Biotechnology</a></li>
                                            <li class="menu-item"><a href="{% url 'projekte' %}">Software Testing and Deployment Lab</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="{% url 'doktoratura' %}">Doktoratura</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Biologjisë</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Bioteknologjisë</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Fizikës</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Informatikës</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Kimisë</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Kimisë Industriale</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Matematikës</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Departamenti i Matematikës së Aplikuar</a></li>
                                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Qendra Kërkimore e Florës dhe e Faunës</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children"><a href="{% url 'publikime-dhe-konferenca' %}">Publikime & Konferenca</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Biologjisë</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Bioteknologjisë</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Fizikës</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Informatikës</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Kimisë</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Kimisë Industriale</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Matematikës</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Departamenti i Matematikës së Aplikuar</a></li>
                                            <li class="menu-item"><a href="{% url 'publikime-dhe-konferenca' %}">Qendra Kërkimore e Florës dhe e Faunës</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="{% url 'studenti' %}">Studenti</a>
                                <ul class="sub-menu">
                                    <li class="menu-item"><a href="{% url 'njoftime' %}">Njoftime</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Orari</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Provime</a></li>
                                    <li class="menu-item"><a href="{% url 'studenti' %}">Email Studenti</a></li>
                                </ul>
                            </li>
                            <li class="menu-item"><a href="{% url 'bursa' %}">Bursa</a></li>
                            <li class="menu-item"><a href="{% url 'baza-ligjore' %}">Baza Ligjore</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
