<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'scientific_research/includes/scientific_research_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'scientific_research/includes/scientific_research_header.html' %}
            <div class="fshn-blog-title-wrap  fshn-style-small" style="background-image: url({% static 'images/fshn_home_logo.jpg' %});">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-blog-title-top-overlay"></div>
                <div class="fshn-blog-title-overlay"></div>
                <div class="fshn-blog-title-bottom-overlay"></div>
                <div class="fshn-blog-title-container fshn-container" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="fshn-blog-title-content fshn-item-pdlr">
                        <div class="fshn-page-title-content fshn-item-pdlr">
                            <div class="fshn-page-caption" style="color:#3db166;">Fakulteti i Shkencave të Natyrës</div>
                            <h1 class="fshn-page-title" style="color: white; font-size: 52px;" data-orig-font="52px">Doktoratura</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 45px 0px;">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-60">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js ">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-accordion-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-accordion-style-background-title-icon gdlr-core-left-align gdlr-core-icon-pos-right">
                                            <div class="gdlr-core-accordion-item-tab clearfix  gdlr-core-active">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Biologjisë</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Bioteknologjisë</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Fizikës</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Informatikës</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Kimisë</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Kimisë Industriale</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Matematikës</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-accordion-item-tab clearfix ">
                                                <div class="gdlr-core-accordion-item-icon gdlr-core-js gdlr-core-skin-icon "></div>
                                                <div class="gdlr-core-accordion-item-content-wrapper">
                                                    <h4 class="gdlr-core-accordion-item-title gdlr-core-js  gdlr-core-skin-e-background gdlr-core-skin-e-content">Departamenti i Matematikës së Aplikuar</h4>
                                                    <div class="gdlr-core-accordion-item-content">
                                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align">
                                                            <div class="gdlr-core-text-box-item-content" style="text-transform: none ;">
                                                                <div style="overflow-x: auto;">
                                                                    <table style="min-width: 835px;">
                                                                        <tbody>
                                                                        <tr style="font-weight: bolder">
                                                                            <th style="min-width: 50px;">NR.</th>
                                                                            <th>Autori</th>
                                                                            <th>Titulli i punimit</th>
                                                                            <th style="min-width: 100px">Permbajtja</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td>Blerta Turani</td>
                                                                            <td>FEKONDIMI IN-VITRO DHE FAKTORЁT QЁ NDIKOJNЁ NЁ ZHVILLIMIN DHE METAMORFOZËN E EMBRIONEVE TEK AMFIBЁT</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td>Enilda Shkëmbi</td>
                                                                            <td>TË DHËNA SISTEMATIKE DHE EKOLOGJIKE PER RENDIN ODONATA NE SHQIPERI</td>
                                                                            <td>
                                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 16px ;font-weight: 600 ;letter-spacing: 0px ;">
                                                                                    <a href="#">Kliko ketu...</a>
                                                                                </h3>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'scientific_research/includes/scientific_research_scripts.html' %}
</body>
</html>