<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/plugins/combine/style.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/goodlayers-core/include/css/page-builder.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'plugins/revslider/public/assets/css/settings.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/style-core.css' %}' type='text/css' media='all' />
    <link rel='stylesheet' href='{% static 'css/fshn-style-custom.css' %}' type='text/css' media='all' />
    <link rel="icon" href="{% static 'images/fshn_logo_png.png' %}">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CABeeZee%3Aregular%2Citalic&amp;subset=latin%2Clatin-ext%2Cdevanagari&amp;ver=5.0.3' type='text/css' media='all' />
</head>

<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    {% include 'scientific_research/includes/scientific_research_mobile_header.html' %}
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% load static %}
            {% include 'scientific_research/includes/scientific_research_header.html' %}
            <div class="fshn-blog-title-wrap  fshn-style-small" style="background-image: url({% static 'images/projects_background.jpg' %})">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-blog-title-top-overlay"></div>
                <div class="fshn-blog-title-overlay"></div>
                <div class="fshn-blog-title-bottom-overlay"></div>
                <div class="fshn-blog-title-container fshn-container" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="fshn-blog-title-content fshn-item-pdlr">
                        <div class="fshn-page-title-content fshn-item-pdlr">
                            <div class="fshn-page-caption" style="color:#3db166;">Fakulteti i Shkencave të Natyrës</div>
                            <h1 class="fshn-page-title" style="color: white; font-size: 52px;" data-orig-font="52px">Projekte</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper ">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 60px 10px 30px 0px; min-height: 4630px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full-with-frame" style="padding-bottom: 40px ;">
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/eaa7c80b9af95c8b4eeba4ae031c8f135e7a4623/75518/images/unnamed.jpg" width="900" height="500" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                    <a href="#">NETCHEM</a>
                                                                </h3>
                                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                            <a href="#">2019</a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-blog-content clearfix"> NetChem :: ICT Networking for Overcoming Technical and Social Barriers in Instrumental Analytical Chemistry education (2019)
                                                            <div class="clear"></div><br>
                                                            <a class="#" style="font-size: 18px; font-weight: bolder; cursor: pointer">Lexo më shumë</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/15e92f4287b09e50115d7b07b092cc64c08d9d1f/31847/images/img_9462.jpg" width="900" height="500" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                    <a href="#">Dita e ADN-së</a>
                                                                </h3>
                                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                            <a href="#">2019</a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-blog-content clearfix"> Dita e ADN-së -  Konkursi i Eseve (2019)
                                                            <div class="clear"></div><br>
                                                            <a class="#" style="font-size: 18px; font-weight: bolder; cursor: pointer">Lexo më shumë</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/16a49aee76cb3608cf93a6728e2318f9674b7f79/6d7d2/images/img_9453.jpg" width="900" height="500" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                    <a href="#">Teknologjia e ADN-së</a>
                                                                </h3>
                                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                            <a href="#">2019</a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-blog-content clearfix">
                                                            Teknologjia e ADN-se ndihmëse në evidentimin e patologjive dhe si ajo mund të përdoret në terapinë e gjeneve (2019)
                                                            <div class="clear"></div><br>
                                                            <a class="#" style="font-size: 18px; font-weight: bolder; cursor: pointer">Lexo më shumë</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/986de3806eede8dc8689e023a13be6de83f10986/03124/images/download.jpg" width="900" height="500" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                    <a href="#">Young Programmers Space</a>
                                                                </h3>
                                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                            <a href="#">2019</a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-blog-content clearfix">
                                                            YPS (Young Programmers Space) (2019)
                                                            <div class="clear"></div><br>
                                                            <a class="#" style="font-size: 18px; font-weight: bolder; cursor: pointer">Lexo më shumë</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/e710f3120713b500d899072781fb2031922990a8/fc882/images/dqfno-wy_400x400.jpg" width="900" height="500" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 33px ;font-weight: 700 ;letter-spacing: 0px ;">
                                                                    <a href="#">RCTA &amp; CSIT</a>
                                                                </h3>
                                                                <div class="gdlr-core-blog-info-wrapper gdlr-core-skin-divider">
                                                                        <span class="gdlr-core-blog-info gdlr-core-blog-info-font gdlr-core-skin-caption gdlr-core-blog-info-date">
                                                                            <a href="#">2019</a>
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-blog-content clearfix">
                                                            RECENT TRENDS AND APPLICATIONS IN COMPUTER SCIENCE AND INFORMATION TECHNOLOGY (2018)
                                                            <div class="clear"></div><br>
                                                            <a class="#" style="font-size: 18px; font-weight: bolder; cursor: pointer">Lexo më shumë</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pagination  gdlr-core-style-round gdlr-core-left-align gdlr-core-item-pdlr">
                                                <span aria-current="page" class="page-numbers current">1</span>
                                                <a class="page-numbers" href="#">2</a>
                                                <a class="page-numbers" href="#">3</a>
                                                <a class="next page-numbers" href="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="min-height: 4630px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    {% include 'includes/quick_links.html' %}
                                    {% include 'includes/departments.html' %}
                                    {% include 'includes/events.html' %}
                                    <div id="gdlr-core-recent-portfolio-widget-1" class="widget widget_gdlr-core-recent-portfolio-widget fshn-widget">
                                        <h3 class="fshn-widget-title">Bursa ERASMUS</h3>
                                        <span class="clear"></span>
                                        <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-event-item gdlr-core-item-pdb" id="div_1dd7_94">
                                                    <div class="gdlr-core-event-item-holder clearfix">
                                                        <div class="gdlr-core-gallery-list gdlr-core-media-image"><img src="{% static 'images/erasmuslogo.png' %}" alt="" width="450" height="300" title="Erasmus"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'scientific_research/includes/scientific_research_scripts.html' %}
</body>
</html>