<div id="gdlr-core-recent-portfolio-widget-1" class="widget widget_gdlr-core-recent-portfolio-widget fshn-widget">
    <h3 class="fshn-widget-title">Departamentet</h3>
    <span class="clear"></span>
    <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-66469">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_16" style="color: #192244"><a href="{% url 'departamenti-bioteknologjisë' %}" target="_self" style="color: #192244!important;">Departamenti i Biologjisë</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_52">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_53"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-42777">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_17" style="color: #192244"><a href="{% url 'departamenti-bioteknologjisë' %}" target="_self" style="color: #192244!important;">Departamenti i Bioteknologjisë</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_54">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_55"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-51281">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_18" style="color: #192244"><a href="{% url 'departamenti-fizikës' %}" target="_self" style="color: #192244!important;">Departamenti i Fizikës</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_56">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_57"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-78243">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_19" style="color: #192244"><a href="{% url 'departamenti-informatikës' %}" target="_self" style="color: #192244!important;">Departamenti i Informatikës</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_58">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_59"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-14842">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_20" style="color: #192244"><a href="{% url 'departamenti-kimisë' %}" target="_self" style="color: #192244!important;">Departamenti i Kimisë</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_60">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_61"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-33183">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_21" style="color: #192244"><a href="{% url 'departamenti-kimisë-industriale' %}" target="_self" style="color: #192244!important;">Departamenti i Kimisë Industriale</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_62">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_63"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-33183">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_21" style="color: #192244"><a href="{% url 'departamenti-matematikës' %}" target="_self" style="color: #192244!important;">Departamenti i Matematikës</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_62">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_63"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-33183">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_21" style="color: #192244"><a href="{% url 'departamenti-matematikës-aplikuar' %}" target="_self" style="color: #192244!important;">Departamenti i Matematikës së Aplikuar</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_62">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_63"></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr" id="gdlr-core-title-item-id-33183">
                <div class="gdlr-core-title-item-title-wrap clearfix">
                    <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " id="h3_1dd7_21" style="color: #192244"><a href="{% url 'qendra-kërkimore-florës-dhe-faunës' %}" target="_self" style="color: #192244!important;">Qendra Kërkimore e Florës dhe e Faunës</a></h3></div>
            </div>
        </div>
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align" id="div_1dd7_62">
                <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_63"></div>
            </div>
        </div>
    </div>
</div>