<div id="gdlr-core-recent-portfolio-widget-1" class="widget widget_gdlr-core-recent-portfolio-widget fshn-widget">
    <h3 class="fshn-widget-title">Evente</h3>
    <span class="clear"></span>
    <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
        <div class="gdlr-core-pbf-element">
            <div class="gdlr-core-event-item gdlr-core-item-pdb" id="div_1dd7_94">
                <div class="gdlr-core-event-item-holder clearfix">
                    <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_97">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">22</span>
                                                                <span class="gdlr-core-month">Maj</span>
                                                            </span>
                        <div class="gdlr-core-event-item-content-wrap">
                            <h3 class="gdlr-core-event-item-title">
                                <a href="#">Horizon Europe (Programme:26/05 webinar on 'R&amp;I in HE' (Focus on Cluster 5)</a>
                            </h3>
                            <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">7:00 am - 11:30 pm</span>
                                                                    </span>
                                <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_98">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">14</span>
                                                                <span class="gdlr-core-month">Maj</span>
                                                            </span>
                        <div class="gdlr-core-event-item-content-wrap">
                            <h3 class="gdlr-core-event-item-title">
                                <a href="#">Projekti EU4TechPoC WB</a>
                            </h3>
                            <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">10:00 am - 4:30 pm</span>
                                                                    </span>
                                <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës.</span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_99">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">09</span>
                                                                <span class="gdlr-core-month">Prill</span>
                                                            </span>
                        <div class="gdlr-core-event-item-content-wrap">
                            <h3 class="gdlr-core-event-item-title">
                                <a href="#">MSCA Individual Fellowships Call 2020</a>
                            </h3>
                            <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">1:00 pm - 5:00 pm</span>
                                                                    </span>
                                <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_99">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">31</span>
                                                                <span class="gdlr-core-month">Janar</span>
                                                            </span>
                        <div class="gdlr-core-event-item-content-wrap">
                            <h3 class="gdlr-core-event-item-title">
                                <a href="#">Temporary rivers: Ecological consideration for an integrated management</a>
                            </h3>
                            <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">1:00 pm - 3:00 pm</span>
                                                                    </span>
                                <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>