<footer>
    <div class="fshn-footer-wrapper ">
        <div class="fshn-footer-container fshn-container clearfix">
            <div class="fshn-footer-column fshn-item-pdlr fshn-column-15">
                <div id="text-2" class="widget widget_text fshn-widget">
                    <div class="textwidget">
                        <h3 style="font-size: 1.5rem">Fakulteti i Shkencave të Natyrës</h3>
                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-left-align">
                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" id="div_1dd7_111"></div>
                        </div>
                        <h5>Universiteti i Tiranës</h5>
                        <p>
                            <span class="gdlr-core-space-shortcode" id="span_1dd7_10"></span>Tiranë, Shqipëri
                            <br>Buldevardi Zogu i Parë
                        </p>
                        <p>
                            <span class="gdlr-core-space-shortcode" id="span_1dd7_12"></span>
                            <a id="a_1dd7_8" href="mailto:info@fshn.edu.al">info@fshn.edu.al</a>
                        </p>
                        <a href="{% url 'index' %}">www.fshn.edu.al</a>
                    </div>
                </div>
            </div>
            <div class="fshn-footer-column fshn-item-pdlr fshn-column-20">
                <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                    <h3 class="fshn-widget-title">Departamentet</h3><span class="clear"></span>
                    <div class="menu-our-campus-container">
                        <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="{% url 'departamenti-biologjisë' %}">Departamenti i Biologjisë</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-bioteknologjisë' %}">Departamenti i Bioteknologjisë</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-fizikës' %}">Departamenti i Fizikës</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-informatikës' %}">Departamenti i Informatikës</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-kimisë' %}">Departamenti i Kimisë</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-kimisë-industriale' %}">Departamenti i Kimisë Industriale</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-matematikës' %}">Departamenti i Matematikës</a></li>
                            <li class="menu-item"><a href="{% url 'departamenti-matematikës-aplikuar' %}">Departamenti i Matematikës së Aplikuar</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fshn-footer-column fshn-item-pdlr fshn-column-10">
                <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                    <h3 class="fshn-widget-title">Fakulteti</h3><span class="clear"></span>
                    <div class="menu-campus-life-container">
                        <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="{% url 'index' %}">Faqja Kryesore</a></li>
                            <li class="menu-item"><a href="{% url 'doktoratura' %}">Kërkimi Shkencor</a></li>
                            <li class="menu-item"><a href="{% url 'njoftime' %}">Njoftime</a></li>
                            <li class="menu-item"><a href="{% url 'evente' %}">Evente</a></li>
                            <li class="menu-item"><a href="{% url 'bursa' %}">Bursa</a></li>
                            <li class="menu-item"><a href="{% url 'buletini-shkencor' %}">Buletini Shkencor</a></li>
                            <li class="menu-item"><a href="{% url 'baza-ligjore' %}">Baza Ligjore</a></li>
                            <li class="menu-item"><a href="{% url 'studenti' %}">Studenti</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="fshn-footer-column fshn-item-pdlr fshn-column-15">
                <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget fshn-widget">
                    <h3 class="fshn-widget-title">Viti Akademik 2021 - 2022</h3><span class="clear"></span>
                    <div class="menu-academics-container">
                        <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                            <li class="menu-item"><a href="#">Raporti i Vlerësimit të Lëndëve</a></li>
                            <li class="menu-item"><a href="#">Orari Mësimor Semestri I Viti <br>Akademik 2021 - 2022</a></li>
                            <li class="menu-item"><a href="#">Grupet Mësimore 2021 - 2022</a></li>
                            <li class="menu-item"><a href="#">Struktura Akademike 2021 - 2022</a></li>
                            <li class="menu-item"><a href="#">Fatura</a></li>
                            <li class="menu-item"><a href="#">support@fshn.edu.al</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fshn-copyright-wrapper">
        <div class="fshn-copyright-container fshn-container clearfix">
            <div class="fshn-copyright-left fshn-item-pdlr">Copyright © 2021 | Të gjitha të drejtat të rezervuara. Made with <i class="fa fa-heart" style="color: #3db166"></i> by <a href="https://mexhitkurti.netlify.app/" target="_blank" style="font-weight: bold">Xhiti</a> </div>
            <div class="fshn-copyright-right fshn-item-pdlr">
                <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" id="div_1dd7_112">
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype">
                        <i class="fa fa-skype"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>