<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% include 'includes/stylesheets.html' %}
    {% load static %}
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    <div class="fshn-mobile-header-wrap">
        <div class="fshn-mobile-header fshn-header-background fshn-style-slide fshn-sticky-mobile-navigation " id="fshn-mobile-header">
            <div class="fshn-mobile-header-container fshn-container clearfix">
                <div class="fshn-logo  fshn-item-pdlr">
                    <div class="fshn-logo-inner">
                        <a class="" href="index.html"><img src="{% static 'images/FSHN_Logo_Blue_And_Green.svg' %}" alt="" /></a>
                    </div>
                </div>
                <div class="fshn-mobile-menu-right">
                    <div class="fshn-main-menu-search" id="fshn-mobile-top-search"><i class="fa fa-search"></i></div>
                    <div class="fshn-top-search-wrap">
                        <div class="fshn-top-search-close"></div>
                        <div class="fshn-top-search-row">
                            <div class="fshn-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field fshn-title-font" placeholder="Search..." value="" name="s">
                                    <div class="fshn-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="fshn-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% include 'includes/index_mobile_menu.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'includes/index_header.html' %}
            {% load static %}
            <div class="fshn-blog-title-wrap  fshn-style-small">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-blog-title-top-overlay"></div>
                <div class="fshn-blog-title-overlay"></div>
                <div class="fshn-blog-title-bottom-overlay"></div>
                <div class="fshn-blog-title-container fshn-container" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="fshn-blog-title-content fshn-item-pdlr">
                        <div class="fshn-page-title-content fshn-item-pdlr">
                            <div class="fshn-page-caption" style="color:#3db166;">Fakulteti i Shkecave të Natyrës</div>
                            <h1 class="fshn-page-title" style="color: white">Buletini Shkencor</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                    <div class="gdlr-core-pbf-background-wrap"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " style="max-width: 760px ;">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-stunning-text-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-stunning-text-caption-above-title">
                                                <h3 class="gdlr-core-stunning-text-item-title" style="font-size: 42px ;color: #192f59;">Mirësevini</h3>
                                                <div class="gdlr-core-stunning-text-item-content">
                                                    <p style="font-size: 20px">
                                                        Buletini i Shkencave të Natyrës është një burim i hapur i shkencës dhe artikujve të lidhur me të.
                                                        Ky buletin është një hapësirë për të shkëmbyer idetë, ku çdo kush mund të kontribuojë, por edhe të marrë ide.
                                                    </p>
                                                    <p style="font-size: 20px">
                                                        <b>Buletini i Shkencave të Natyrës (Online) ISSN 2305-882X</b>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper " style="padding: 60px 0px 15px 0px;">
                        <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-element">
                                    <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-column-with-frame" style="padding-bottom: 40px ;">
                                        <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15 gdlr-core-column-first">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15 ">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-item-list  gdlr-core-item-pdlr gdlr-core-column-15">
                                                <div class="gdlr-core-blog-grid gdlr-core-js  gdlr-core-blog-grid-with-frame gdlr-core-item-mgb gdlr-core-skin-e-background " data-sync-height="blog-item-1" style="height: 570px;">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="#">
                                                            <img src="https://d33wubrfki0l68.cloudfront.net/f1cc0a87e49800b7358d890957859e748f858b2a/6c042/images/28.png" width="700" height="660" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-grid-frame">
                                                        <h3 class="gdlr-core-blog-title gdlr-core-skin-title" style="font-size: 20px ;font-weight: 600 ;letter-spacing: 0 ;">
                                                            <a href="#">Botimi Nr. 28, viti 2019</a>
                                                        </h3>
                                                        <div class="gdlr-core-blog-content clearfix"><a href="#" style="cursor: pointer">Klikoni per permbajtjen...</a>
                                                            <div class="clear"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;">
                    <div class="gdlr-core-pbf-background-wrap"></div>
                    <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                        <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                            <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                                <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                    <div class="gdlr-core-pbf-background-wrap"></div>
                                    <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js " style="max-width: 760px ;">
                                        <div class="gdlr-core-pbf-element">
                                            <div class="gdlr-core-stunning-text-item gdlr-core-item-pdlr gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-stunning-text-caption-above-title">
                                                <h3 class="gdlr-core-stunning-text-item-title" style="font-size: 42px ;color: #192f59;">Njoftim për autorët</h3>
                                                <div class="gdlr-core-stunning-text-item-content">
                                                    <p style="font-size: 20px">
                                                        Artikujt për buletinin, mund të dërgohen në redaksi në adresën : <b>buletini@fshn.edu.al</b><br>
                                                        Artikulli duhet të jetë i shkruajtur në word i formatuar sipas udhëzimeve të publikuara në seksionin <a href="#udhezime"><b>udhëzime për autorët</b></a> .
                                                        <br>Klikoni më poshtë për të dërguar punimin Tuaj.
                                                    </p>
                                                    <a class="gdlr-core-stunning-text-item-link gdlr-core-info-font" href="#" target="_self" style="font-size: 24px; font-weight: 600; color: #1a49a8">Dërgoni punimin tuaj KËTU</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="color: #3db166; height: 3px; padding-left: 50px; padding-right: 50px">
            <div class="fshn-content-container fshn-container">
                <div class=" fshn-sidebar-wrap clearfix fshn-line-height-0 fshn-sidebar-style-none">
                    <div class=" fshn-sidebar-center fshn-column-60 fshn-line-height">
                        <div class="fshn-content-wrap fshn-item-pdlr clearfix">
                            <div class="fshn-content-area">
                                <article id="post-1268" class="post-1268 post type-post status-publish format-standard has-post-thumbnail hentry category-blog category-post-format tag-news">
                                    <div class="fshn-single-article clearfix">
                                        <h3 id="udhezime" style="font-size: 24px; font-weight: 600; color: #1a49a8; text-align: center; padding-top: 20px; padding-bottom: 50px">Udhëzime për Autorët</h3>
                                        <div class="fshn-single-article-content">
                                            <p>Dorëshkrimi ose artikulli i plotë duhet të dërgohet me e-mail në adresën e Buletinit: <strong>buletini@fshn.edu.al</strong>, (gjithashtu dhe konfirmimi i bashkëautorëve) në formatimin e kërkuar si më poshtë, si dhe e shoqëruar me figurat (fotografitë) me cilësi të mirë (nëqoftëse ka të tilla). Revista drejtohet prej Këshillit Botues të përbërë nga 9 anëtarë. Dekani i Fakultetit është Kryetar i Këshillit Botues.</p>
                                            <p>Punimet që pranohen nënkuptojnë që dorëshkrimi nuk është botuar më parë, në asnjë revistë tjetër brenda dhe jashtë vendit.</p>
                                            <p>Artikulli duhet të përmbajë këto nënndarje: Titullin, Autorin(ët) në një rresht, Adresën(at) përkatëse korresponduese (përfshirë e-mail, si dhe kush mban lidhjet me Redaksinë) në rreshta të veçantë, dy Përmbledhja (në shqip) dhe Abstract (në gjuhën angleze të saktë) jo më shumë se 200 fjalë ose 20 rreshta. Fjalëkyçet (jo më shumë se gjashtë), Hyrjen, Materiali dhe metodat, Rezultatet, Diskutime dhe/ose Përfundime, Falënderime. Literatura duhet me font 10. Gjithashtu, në Buletin mund të publikohen informacione përmbledhëse si: Informacion, Diskutim, Përmbledhje Libri, Njoftim si dhe REVIEW Korrigjimi i tyre mund të bëhet vetëm nga Redaksia, dhe për këtë këto dorëshkrime duhet të përgatiten me kujdes më të veçantë.</p>
                                            <p>Përmasat e tabelave, figurave dhe fotografive nuk duhet të kalojnë përmasat 12 cm në gjerësi x 18 cm në gjatësi. Figurat dhe fotografitë duhet të kenë cilësi të mirë dhe legjendë të qartë dhe të lexueshme për shtypin bardhë e zi. Krahas dorëshkrimit të plotë, rekomandohet të bashkëngjiten në mënyrë elektronike, në files të veçanta, tabelat, grafikët dhe figurat e tjera. Formulat duhet të jenë të shkruajtura qartë me simbole të pajtueshme, për të mos krijuar keq interpretime. Emrat latinë të gjallesave duhet të shtypen saktë dhe të formatohen me gërma ITALIKE.</p>
                                            <p style="color: green">Citimet e literaturës pergjatë artikullit duhet të bëhen duke përdorur emrin e autorit, të dy autorëve, ose të autorit të parë: p.sh. në përdorimin drejtpërdrejt në periudhë: Uherkovich (1963): Brakefield &amp; Dowdeswell (1985); Van den Hoek et al. (1995); ndërsa në citimin e përgjithshëm: (Uherkovich, 1963; Brakefield &amp; Dowdeswell, 1985; Van den Hoek et al., 1995). Literatura duhet të shkruhet qartë dhe e plotë, gjithë autorët, titulli i plotë, emri kuptueshëm i botuesit dhe faqet, si më poshtë (për librat dhe artikujt shkencorë përkatësisht):</p>
                                            <p><strong>Literatura (në fund të artikullit shkruhet):</strong></p>
                                            <p style="color: darkred">Brakefield P. M. (1982): The ecological genetics of quantitative characters of Maniola jurtina and other butterflies. In: The biology of butterflies. Symposia of the Royal Entomological Society, London. No. 11: 167-190<br><br>
                                                Brakefield P. M., Dowdeswell W. H. (1985): Comparison of two independent scoring techniques for spot variation in Maniola jurtina (L.) and the consequences of some differences. Biol. J. Linn. Soc. 24: 329-345<br><br>
                                                Uherkovich G. (1963): Contributions a’ la connaisance du potamo-phytoplancton de quelques fleuves de l'Albanie. Acta Botanica, Ac. Sci. Hungaricae, vol. 9: 161-172<br><br>
                                                Van den Hoek C., Mann D. G., Johns H. M. (1995): Algae: An introduction to phycology. Cambridge University Press: 1-624</p>
                                            <p>Vetëm Dorëshkrimi i saktë dhe i plotë pranohet. Ai diskutohet për recensë në mbledhjen e Redaksisë. Një Recensues anonim më afër fushës shkencore të dorëshkrimit jep mendim me shkrim për cilësinë dhe shkallën përmirësimit. Autori përgjegjës informohet nga Redaksia, kur Dorëshkrimi ka nevojë për përmirësime ose plotësime të mëtejshme dhe me tej publokohet on-line në adresën: <strong>www.fsh.edu.al</strong> (në rubrikën e Buletinit Shkencor)</p>
                                            <p style="font-size: 20px; text-align: right"><strong>REDAKSIA</strong></p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gdlr-core-pbf-wrapper " style="padding: 80px 0px 40px 0px;">
                <div class="gdlr-core-pbf-background-wrap"></div>
                <div class="gdlr-core-pbf-wrapper-content gdlr-core-js ">
                    <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                        <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first">
                            <div class="gdlr-core-pbf-column-content-margin gdlr-core-js ">
                                <div class="gdlr-core-pbf-background-wrap"></div>
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-image-item gdlr-core-item-pdb  gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 40px ;">
                                            <div class="gdlr-core-image-item-wrap gdlr-core-media-image  gdlr-core-image-item-style-rectangle" style="border-width: 0px;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-top gdlr-core-item-pdlr">
                                            <div class="gdlr-core-title-item-title-wrap clearfix">
                                                <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 24px ;font-weight: 700 ;letter-spacing: 0px ;text-transform: none ;color: #293a5b ;">Këshilli Botues</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 10px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 19px ;font-weight: 600 ;letter-spacing: 0px ;text-transform: none ;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-divider-item gdlr-core-divider-item-normal gdlr-core-item-pdlr gdlr-core-center-align">
                                            <div class="gdlr-core-divider-line gdlr-core-skin-divider" style="border-color: #3db166 ;border-width: 3px;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 20px ;">
                                            <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;text-transform: none ;"></div>
                                        </div>
                                    </div>
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-icon-list-item gdlr-core-item-pdlr gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-style-1" style="padding-bottom: 25px ;">
                                            <ul>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Spiro DRUSHKU, Kryetar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Fatmir HOXHA, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Majlinda VASJARI, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Ilia MIKEREZI, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Ariola BACU, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Dr. Petrit HODA, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Asoc. Dr. Ilir VARDHAMI, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. Asoc. Dr. Ilirjana BOCI Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Prof. As. Alda KIKA, Anëtar</span>
                                                    </div>
                                                </li>
                                                <li class=" gdlr-core-skin-divider clearfix" style="margin-bottom: 22px ;">
                                                    <span class="gdlr-core-icon-list-icon-wrap gdlr-core-left" style="margin-top: 5px ;"><i class="gdlr-core-icon-list-icon fa fa-hand-o-right" style="color: #3db166 ;font-size: 22px ;width: 22px ;"></i></span>
                                                    <div class="gdlr-core-icon-list-content-wrap">
                                                        <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Dr. Gerti XHIXHA, Anëtar</span>
                                                    </div>
                                                </li>
                                                <div class="gdlr-core-icon-list-content-wrap">
                                                    <span class="gdlr-core-icon-list-content" style="font-size: 18px ;">Sekretare e këshillit botues, Anila MIKEREZI</span>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'includes/index_scripts.html' %}
</body>
</html>