<!DOCTYPE html>
<html lang="en-US" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fakulteti i Shkencave të Natyrës | FSHN</title>
    {% include 'includes/stylesheets.html' %}
    {% load static %}
</head>
<body class="home page-template-default page page-id-2039 gdlr-core-body woocommerce-no-js tribe-no-js fshn-body fshn-body-front fshn-full  fshn-with-sticky-navigation  fshn-blockquote-style-1 gdlr-core-link-to-lightbox">
    <div class="fshn-mobile-header-wrap">
        <div class="fshn-mobile-header fshn-header-background fshn-style-slide fshn-sticky-mobile-navigation " id="fshn-mobile-header">
            <div class="fshn-mobile-header-container fshn-container clearfix">
                <div class="fshn-logo  fshn-item-pdlr">
                    <div class="fshn-logo-inner">
                        <a class="" href="{% url 'index' %}"><img src="{% static 'images/FSHN_Logo_Blue_And_Green.svg' %}" alt="" /></a>
                    </div>
                </div>
                <div class="fshn-mobile-menu-right">
                    <div class="fshn-main-menu-search" id="fshn-mobile-top-search"><i class="fa fa-search"></i></div>
                    <div class="fshn-top-search-wrap">
                        <div class="fshn-top-search-close"></div>
                        <div class="fshn-top-search-row">
                            <div class="fshn-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field fshn-title-font" placeholder="Search..." value="" name="s">
                                    <div class="fshn-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search">
                                    <div class="fshn-top-search-close"><i class="icon_close"></i></div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% include 'includes/index_mobile_menu.html' %}
                </div>
            </div>
        </div>
    </div>
    <div class="fshn-body-outer-wrapper ">
        <div class="fshn-body-wrapper clearfix  fshn-with-frame">
            {% include 'includes/index_header.html' %}
            {% load static %}
            <div class="fshn-blog-title-wrap  fshn-style-small">
                <div class="fshn-header-transparent-substitute"></div>
                <div class="fshn-blog-title-top-overlay"></div>
                <div class="fshn-blog-title-overlay"></div>
                <div class="fshn-blog-title-bottom-overlay"></div>
                <div class="fshn-blog-title-container fshn-container" style="padding-top: 50px; padding-bottom: 50px">
                    <div class="fshn-blog-title-content fshn-item-pdlr">
                        <div class="fshn-page-title-content fshn-item-pdlr">
                            <div class="fshn-page-caption" style="color:#3db166;">Event</div>
                            <h1 class="fshn-page-title" style="color: white">Programme:26/05 webinar on 'R&amp;I in HE' (Focus on Cluster 5)</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fshn-page-wrapper" id="fshn-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-sidebar-wrapper ">
                        <div class="gdlr-core-pbf-sidebar-container gdlr-core-line-height-0 clearfix gdlr-core-js gdlr-core-container">
                            <div class="gdlr-core-pbf-sidebar-content  gdlr-core-column-40 gdlr-core-pbf-sidebar-padding gdlr-core-line-height gdlr-core-column-extend-left" style="padding: 60px 10px 30px 0px; min-height: 2144px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                <div class="gdlr-core-pbf-sidebar-content-inner">
                                    <div class="gdlr-core-pbf-element">
                                        <div class="gdlr-core-blog-item gdlr-core-item-pdb clearfix  gdlr-core-style-blog-full-with-frame" style="padding-bottom: 40px ;">
                                            <div class="gdlr-core-blog-item-holder gdlr-core-js-2 clearfix" data-layout="fitrows">
                                                <div class="gdlr-core-item-list gdlr-core-blog-full  gdlr-core-item-mglr gdlr-core-style-left">
                                                    <div class="gdlr-core-blog-thumbnail gdlr-core-media-image  gdlr-core-opacity-on-hover gdlr-core-zoom-on-hover">
                                                        <a href="{% url 'njoftime' %}">
                                                            <div class="gdlr-core-sticky-banner gdlr-core-title-font"><i class="fa fa-bolt"></i>Sticky Post</div>
                                                        </a>
                                                    </div>
                                                    <div class="gdlr-core-blog-full-frame gdlr-core-skin-e-background">
                                                        <div class="gdlr-core-blog-full-head clearfix">
                                                            <div class="gdlr-core-blog-full-head-right">
                                                                <div id="post-5986" class="post-5986 tribe_events type-tribe_events status-publish has-post-thumbnail hentry">
                                                                    <div class="tribe-events-event-image"><img width="2000" height="1500" src="https://d33wubrfki0l68.cloudfront.net/ff31ab2b1fc3d9e1f60086079ef38e7b233dea75/019fd/images/event.jpg" alt=""></div>
                                                                    <br>
                                                                    <div class="tribe-events-single-event-description tribe-events-content">
                                                                        <p>Në kuadër të Horizon Europe (Programme:26/05 webinar on 'R&amp;I in HE' (Focus on Cluster 5), jemi njftuar me anë të email-it nga Agjencia Kombëtare e Kërkimit Shkencor dhe Inovacionit mbi webinaret që do të organizohen</p>
                                                                    </div>
                                                                    <div class="tribe-events-cal-links"><a class="tribe-events-gcal tribe-events-button" href="https://www.google.com/calendar/event?action=TEMPLATE&amp;text=Programme:%26/05+webinar+on+'R&amp;I+in+HE'+(Focus on Cluster 5)&amp;dates=20401217T130000/20401217T130000&amp;details=Në+kuadër+të+Horizon+Europe+(Programme:%26/05+webinar+on+'R&amp;I+in+HE'+(Focus+on+Cluster+5),+jemi+njoftuar+me+anë+të+email-it+nga+Agjencia+Kombëtare+e+Kërkimit+Shkencor+dhe+Inovacionit+mbi+webinaret+që+do+të+organizohen&amp;location=Fakulteti+i+Sjkencave+të+Natyrës&amp;trp=false&amp;sprop=website:https://www.fshn.edu.al&amp;" style="background-color: #0f3e68; color: #ffffff" title="Add to Google Calendar">+ Google Calendar</a></div><!-- .tribe-events-cal-links -->
                                                                    <br>
                                                                    <div class="tribe-events-single-section tribe-events-event-meta primary tribe-clearfix">
                                                                        <div class="tribe-events-meta-group tribe-events-meta-group-details">
                                                                            <h2 class="tribe-events-single-section-title"> Detaje </h2>
                                                                            <dl>
                                                                                <dt class="tribe-events-start-date-label" style="color: #0f3e68"> Webinar No 1 – 26/05/20 </dt>
                                                                                <dt class="tribe-events-start-time-label" style="color: #3db166"> Laying the foundations: R&amp;I in Horizon Europe </dt>
                                                                                <dt class="tribe-events-event-url-label"> Orari: </dt>
                                                                                <dd class="tribe-events-event-url">
                                                                                    10:00 – 10:10 Welcome<br>
                                                                                    10:10 – 10:45 R&amp;I in Horizon Europe - Thomas Schubert, EC<br>
                                                                                    10:45 – 11:20 Missions in HE: focus on the area ‘Climate-neutral and smart cities’ - Oana Melinceanu, EC<br>
                                                                                    11:20 – 11:30 Q&amp;A
                                                                                </dd>
                                                                                <dt class="trible-events-start-date-label">
                                                                                    Registration is available here: <a href="https://forms.gle/2KE1YhJcn8D6xsZC6" style="color: #3db166">https://forms.gle/2KE1YhJcn8D6xsZC6</a>
                                                                                </dt>
                                                                            </dl>
                                                                        </div>
                                                                        <br>
                                                                        <div class="tribe-events-meta-group tribe-events-meta-group-organizer">
                                                                            <dl>
                                                                                <dt class="tribe-events-start-date-label" style="color: #0f3e68"> Webinar No 2 – 04/06/20 </dt>
                                                                                <dt class="tribe-events-start-time-label" style="color: #3db166"> Partnership in HE Cluster 5: focus on Mobility <br>(General Intro + Clean Aviation + Integrated Air Traffic Management) </dt>
                                                                                <dt class="tribe-events-event-url-label"> Orari: </dt>
                                                                                <dd class="tribe-events-event-url">
                                                                                    10:00 – 10:05 Welcome<br>
                                                                                    10:05 – 10:20 Partnership in HE: Intro- Andrea Gentili, EC<br>
                                                                                    10:20 – 10:50 Clean Aviation - Bruno Mastantuono, CS2 JU<br>
                                                                                    10:50 – 11:20 Integrated Air Traffic Management -  Peter Hotham, SESAR JU<br>
                                                                                    11:20 – 11:30 Q&amp;A
                                                                                </dd>
                                                                                <dt class="trible-events-start-date-label">
                                                                                    Registration is available here: <a href="https://forms.gle/2KE1YhJcn8D6xsZC6" style="color: #3db166">https://forms.gle/2KE1YhJcn8D6xsZC6</a>
                                                                                </dt>
                                                                            </dl>
                                                                        </div>
                                                                        <br>
                                                                        <div class="tribe-events-meta-group tribe-events-meta-group-organizer">
                                                                            <dl>
                                                                                <dt class="tribe-events-start-date-label" style="color: #0f3e68"> Webinar No 3 – 09/06/20 </dt>
                                                                                <dt class="tribe-events-start-time-label" style="color: #3db166"> Partnership in HE Cluster 5: focus on Mobility<br>(Transforming Europe's rail system + Zero-emission waterborne transport) </dt>
                                                                                <dt class="tribe-events-event-url-label"> Orari: </dt>
                                                                                <dd class="tribe-events-event-url">
                                                                                    10:00 – 10:05 Welcome<br>
                                                                                    10:05 – 10:20 Partnership in HE: Intro- Andrea Gentili, EC<br>
                                                                                    10:20 – 10:50 Clean Aviation - Bruno Mastantuono, CS2 JU<br>
                                                                                    10:50 – 11:20 Integrated Air Traffic Management -  Peter Hotham, SESAR JU<br>
                                                                                    11:20 – 11:30 Q&amp;A
                                                                                </dd>
                                                                                <dt class="trible-events-start-date-label">
                                                                                    Registration is available here: <a href="https://forms.gle/FY9dhWGBDZYv3MyJ6" style="color: #3db166">https://forms.gle/FY9dhWGBDZYv3MyJ6</a>
                                                                                </dt>
                                                                            </dl>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gdlr-core-pbf-sidebar-right gdlr-core-column-extend-right  fshn-sidebar-area gdlr-core-column-20 gdlr-core-pbf-sidebar-padding  gdlr-core-line-height" style="min-height: 2144px;">
                                <div class="gdlr-core-pbf-background-wrap" style="background-color: #f7f7f7 ;"></div>
                                <div class="gdlr-core-sidebar-item gdlr-core-item-pdlr">
                                    <?php include "common/quick_links.php"; ?>
                                    <?php include "common/departments.php"; ?>
                                    <div id="gdlr-core-recent-portfolio-widget-1" class="widget widget_gdlr-core-recent-portfolio-widget fshn-widget">
                                        <h3 class="fshn-widget-title">Evente</h3>
                                        <span class="clear"></span>
                                        <div class="gdlr-core-recent-portfolio-widget-wrap clearfix">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-event-item gdlr-core-item-pdb" id="div_1dd7_94">
                                                    <div class="gdlr-core-event-item-holder clearfix">
                                                        <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_97">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">22</span>
                                                                <span class="gdlr-core-month">Maj</span>
                                                            </span>
                                                            <div class="gdlr-core-event-item-content-wrap">
                                                                <h3 class="gdlr-core-event-item-title">
                                                                    <a href="#">Horizon Europe (Programme:26/05 webinar on 'R&amp;I in HE' (Focus on Cluster 5)</a>
                                                                </h3>
                                                                <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">7:00 am - 11:30 pm</span>
                                                                    </span>
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_98">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">14</span>
                                                                <span class="gdlr-core-month">Maj</span>
                                                            </span>
                                                            <div class="gdlr-core-event-item-content-wrap">
                                                                <h3 class="gdlr-core-event-item-title">
                                                                    <a href="#">Projekti EU4TechPoC WB</a>
                                                                </h3>
                                                                <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">10:00 am - 4:30 pm</span>
                                                                    </span>
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës.</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_99">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">09</span>
                                                                <span class="gdlr-core-month">Prill</span>
                                                            </span>
                                                            <div class="gdlr-core-event-item-content-wrap">
                                                                <h3 class="gdlr-core-event-item-title">
                                                                    <a href="#">MSCA Individual Fellowships Call 2020</a>
                                                                </h3>
                                                                <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">1:00 pm - 5:00 pm</span>
                                                                    </span>
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="gdlr-core-event-item-list gdlr-core-style-widget gdlr-core-item-pdlr  clearfix" id="div_1dd7_99">
                                                            <span class="gdlr-core-event-item-info gdlr-core-type-start-date-month">
                                                                <span class="gdlr-core-date">31</span>
                                                                <span class="gdlr-core-month">Janar</span>
                                                            </span>
                                                            <div class="gdlr-core-event-item-content-wrap">
                                                                <h3 class="gdlr-core-event-item-title">
                                                                    <a href="#">Temporary rivers: Ecological consideration for an integrated management</a>
                                                                </h3>
                                                                <div class="gdlr-core-event-item-info-wrap">
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-time">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_clock_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">1:00 pm - 3:00 pm</span>
                                                                    </span>
                                                                    <span class="gdlr-core-event-item-info gdlr-core-type-location">
                                                                        <span class="gdlr-core-head">
                                                                            <i class="icon_pin_alt"></i>
                                                                        </span>
                                                                        <span class="gdlr-core-tail">Fakulteti i Shkencave të Natyrës</span>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'includes/footer.html' %}
        </div>
    </div>
    {% include 'includes/index_scripts.html' %}
</body>
</html>